/******************************************************************

Stylesheet: Typography

******************************************************************/

/*********************
FONT FACE
*********************/
// font stacks
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Georgia', Cambria, Times New Roman, Times, serif;

$primary: 'Almendra', $serif;
$secondary: 'Open Sans', $sans-serif;

// theme fonts
$body-font: 400 1em / 1.536em $secondary;
$h1: 400 4.375em / 1.25em $primary;
$h2: 400 2.5em / 1.25em $primary;
$h3: 400 2em / 1.25em $primary;
$h4: 400 1.3125em / 1.25em $secondary;
$h5: 400 1.25em / 1.25em $secondary;
$h6: 400 1em / 1.25rem $secondary;

/* almendra-regular - latin */
@font-face {
    font-family: 'Almendra';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/almendra-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/almendra-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/almendra-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/almendra-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/almendra-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/almendra-v22-latin-regular.svg#Almendra') format('svg'); /* Legacy iOS */
  }
  /* almendra-italic - latin */
  @font-face {
    font-family: 'Almendra';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/almendra-v22-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/almendra-v22-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/almendra-v22-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/almendra-v22-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/almendra-v22-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/almendra-v22-latin-italic.svg#Almendra') format('svg'); /* Legacy iOS */
  }
  /* almendra-700 - latin */
  @font-face {
    font-family: 'Almendra';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/almendra-v22-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/almendra-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/almendra-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/almendra-v22-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/almendra-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/almendra-v22-latin-700.svg#Almendra') format('svg'); /* Legacy iOS */
  }
  /* almendra-700italic - latin */
  @font-face {
    font-family: 'Almendra';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/almendra-v22-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/almendra-v22-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/almendra-v22-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/almendra-v22-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/almendra-v22-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/almendra-v22-latin-700italic.svg#Almendra') format('svg'); /* Legacy iOS */
  }

/* open-sans-300 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-500 - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-300italic - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-italic - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-500italic - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-500italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600italic - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700italic - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-ext_cyrillic-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  /* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-pro-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro-v21-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-italic - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/source-sans-pro-v21-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro-v21-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro-v21-latin-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-600 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/source-sans-pro-v21-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro-v21-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-600italic - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/source-sans-pro-v21-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro-v21-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-600italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro-v21-latin-600italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-700 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-sans-pro-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro-v21-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-700italic - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/source-sans-pro-v21-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro-v21-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro-v21-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro-v21-latin-700italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }