/******************************************************************

Stylesheet: Variables

******************************************************************/

/* Colours */
$color1: #660b21; // deep red
$color2: #b47b28; // shaded gold
$color3: #f6f3ed; // muted brown
$color4: #ffc700;
$color5: #ffffff;
$color6: #ffffff;
$color-hover: #009fb7;
$color-active: #009fb7;

$color-p: #272727;
$text-gray: #a4a3a6;
$white: #ffffff;
$gray: #eff1f3;
$light-gray: #707070;
$black: #000000;
$header-gray: #525252;

/* Spacing / Padding */

$col: 100% / 12;
$col-vw: 100vw / 12;

//transitions
$transition: 0.25s ease-in-out;
$transition-slow: 0.5s ease-in-out;

// common device break points
$desktop-break: 1920px;
$laptop-break-lrg: 1550px;
$laptop-break: 1440px;
$laptop-break-sml: 1280px;
$tablet-break: 1024px;
$tablet-break-sml: 768px;
$mobile-break: 600px;
$mobile-break-sml: 340px;
