/******************************************************************

Stylesheet: Media Kit

Styles for Media Kit page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.cover_boxes {
    ul {
        @media only screen and (min-width: 1401px) and (max-width: 1550px) {
            li {
                width: 250px !important;

                .thumb {
                    width: 250px !important;
                }

                .box_content {
                    width: 230px !important;
                    left: 270px !important;
                }

                &.act {
                    width: 500px !important;
                }
            }
        }
    }
}

.overlapbox-wrapper {
    @include breakpoint ($mobile-break) {
        padding-top: 0 !important;
    }

    >.section_inner {
        >.section_inner_margin {
            @include breakpoint ($mobile-break) {
                margin: 0;
            }
            @include breakpoint ($mobile-break-sml) {
                margin: 0 15px;

                a {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

.overlapbox {
    h1 {
        @include breakpoint ($tablet-break) {
            font-size: 4em;
        }
    }
    h5 a {
        font-family: $secondary;
        display: inline-block;
        font-weight: 600;
        font-size: 21px;
        opacity: .5;
        color: $color1;
        transition: $transition;
        border-right: 0 !important;
        margin-bottom: 0 !important;
        line-height: 40px !important;
        letter-spacing: 0;
        position: relative;
        padding: 0 15px;

        @include breakpoint($laptop-break) {
            font-size: 18px !important;
            line-height: 28px !important;
        }

        @include breakpoint ($tablet-break) {
            margin-bottom: 0.5rem !important;
        }

        @include breakpoint($mobile-break) {
            font-size: 16px;
            line-height: 20px !important;
            padding: 0 10px;
            box-shadow: none;
            margin: 0.5rem 0 !important;
            width: auto;
        }

        &:hover,
        &:focus {
            opacity: .75;
            color: $color1 !important;
        }

        &.active-tab {
            opacity: 1;
        }

        &:not(:last-child)::after {
            content: '' !important;
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
            background: $color2;
            ;
        }
    }
}

.q_tabs {
    .tabs-nav {
        li {
            @include breakpoint ($mobile-break) {
                margin: 0;
                padding: 0 10px 0 0;
                width: calc(30% - 10px - 1px);
            }
        }
    }
}

.interview-video {
    >.full_section_inner {
        >.vc_col-sm-2 {
            @include breakpoint($tablet-break) {
                width: $col;
            }
            @include breakpoint($mobile-break) {
                width: 100%;
            }
        }
        >.vc_col-sm-8 {
            @include breakpoint($tablet-break) {
                width: $col * 10;
            }
            @include breakpoint($mobile-break) {
                width: 100%;
            }
        }
    }
    @include breakpoint ($mobile-break) {
        padding: 0 15px;
    }
    .tab-content {
        @include breakpoint ($mobile-break) {
            padding-top: 0;
        }
    }

    .q_elements_item_content {
        @include breakpoint ($laptop-break-lrg) {
            padding-bottom: 12.5px !important;
        } // @include breakpoint ($laptop-break-sml) {
        //     padding-top: 12.5px !important;
        // }
    }
    .vc_tta-panel-body {
        .vc_row {
            .full_section_inner {
                display: flex;
                align-items: center;

                @include breakpoint ($mobile-break) {
                    flex-direction: column;
                }

                .wpb_column {
                    &:first-child {
                        padding-right: $col-vw / 8;
                        @include breakpoint ($mobile-break) {
                            padding-right: 0;
                            width: 100%;
                        }
                    }
                    &:last-child {
                        padding-left: $col-vw / 8;

                        @include breakpoint ($mobile-break) {
                            padding-left: 0;
                            padding-top: $col-vw / 2;
                            width: 100%;
                        }
                    }
                }

                h4 {
                    color: $header-gray;
                    font-weight: 600;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                p {
                    margin: 1rem 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    
                    @include breakpoint($tablet-break) {
                        -webkit-line-clamp: 1;
                    }

                    &:first-of-type {
                        margin-top: 0.75rem;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .hidden-content {
        overflow: hidden;
        transition: height 1.5s ease 0s !important;
    }
    .read-more {
        font-family: $secondary;
        float: right;
        align-self: flex-end;
        padding-top: 0 !important;
        border-top: 1px solid $color1 !important;
        width: 40%;
        text-align: right;
        outline: none;
        margin-top: 20px;
        background-color: transparent;
        border: none;
        box-shadow: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600 !important;
        margin-bottom: $col-vw / 2 !important;
        position: relative;

        @include breakpoint ($mobile-break) {
            width: 60%;
        }

        &:before {
            width: 10px;
            height: 2px;
            right: 10px;
            content: "";
            position: absolute;
            background: $color1;
            top: 50%;
            transform: translateY(-50%);
            transition: $transition;
        }

        &:after {
            height: 10px;
            width: 2px;
            right: 14px;
            transform-origin: center;
            content: "";
            position: absolute;
            background: $color1;
            top: 50%;
            transform: translateY(-50%);
            transition: $transition;
        }

        &:hover {
            &:before,
            &:after {
                background: $color2;
            }
        }

        &.active {
            &:after {
                transform: translateY(-50%) rotate( 90deg);
            }
        }
    }
}