/******************************************************************

Stylesheet: About

Styles for About page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/


.projects_holder article .portfolio_description .portfolio_title a, // About - Faculty
.q_team .q_team_title_holder .q_team_name { // About - Office Staff
    &:not(:hover):not(:focus) {
        color: $header_gray;
        @include font-size(18px, 18px, 16px, 16px);
        line-height: 1.25;
        font-weight: 600;
        letter-spacing: 0;
    }
}

.portfolio_main_holder .item_holder:hover + .portfolio_description .portfolio_title a {
    color: $color2;
}

.projects_holder.v4 {
    @include breakpoint(768px) {
        display: flex;
        flex-flow: wrap;
    }

    @include breakpoint(480px) {
        margin: 0 -5px !important;
        width: calc(100% + 10px) !important;
    }

    .mix {
        @include breakpoint(768px) {
            width: 25%;
        }
    
        @include breakpoint(480px) {
            width: 50%;
            padding: 0 5px;
            box-sizing: border-box;
        }
    }
}
