/******************************************************************

Stylesheet: Alumni

Styles for Alumni page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.latest_post_title.entry_title {
    a {
        font-family: $secondary;
        letter-spacing: 0;
        color: $header-gray;
        font-weight: 700 !important;
        @include font-size(18px, 18px, 16px, 16px);
        
        &:not(:hover):not(:focus) {
            color: $header-gray;
        }
    }
}

.q_icon_with_title.large .icon_holder img {
    @include breakpoint($tablet-break) {
        width: 80px;
    }

    @include breakpoint($mobile-break) { 
        width: 60px;
    }
}

.gform_footer input[type=submit] {
    background-color: white !important;
}