/******************************************************************

Stylesheet: Universal Site Styles

Only put styles in here that will be used across the entire site.
For styles only applying to one particular page, use the appropriate
page SCSS file.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

@import '../elements/typography';
/*********************
HEADER & NAV STYLES
*********************/

@import '../elements/header';
/*********************
HERO STYLES
*********************/

/*********************
GLOBAL ELEMENTS
*********************/
.wppopups-whole {
    .spu-bg {
        background-color: rgba(255, 255, 255, 0.9) !important;
    }

    .course-popup {
        max-width: 950px !important;

        @include breakpoint($tablet-break) {
            max-width: 650px !important;
        }

        @include breakpoint($mobile-break) {
            max-width: 380px !important;
        }

        .spu-container {
            padding: 0 !important;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

            .spu-close {
                top: -40px;
                color: #660B21 !important;
                text-shadow: none !important;
                font-size: 40px !important;
                right: 0;
            }

            .popup-wrapper {
                display: flex;
                align-items: center;
                overflow: hidden;

                @include breakpoint($tablet-break) {
                    flex-direction: column-reverse;
                }

                >div {
                    &:first-of-type {
                        width: 60%;
                        padding: 3rem;

                        @include breakpoint($tablet-break) {
                            width: 100%;
                        }
                        
                        @include breakpoint($mobile-break) {
                            padding: 2rem;
                        }

                        h2 {
                            font-family: 'El Messiri', sans-serif;
                            font-size: 48px;
                            margin-bottom: 1rem;
                        }

                        p {
                            font-size: 21px;
                            margin-bottom: 1rem;

                            &:last-of-type {
                                text-align: right;
                                margin-top: 2rem;
                            }
                        }
                    }

                    &:last-of-type {
                        display: flex;
                        width: 40%;

                        @include breakpoint($tablet-break) {
                            width: 100%;
                        }

                        img {
                            width: 100%;
                            height: 100%;

                            &.desktop-hide {
                                display: none;

                                @include breakpoint($tablet-break) {
                                    display: block;
                                }
                            }

                            &.mobile-hide {
                                @include breakpoint($tablet-break) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*********************
Please add global elements as a partial to the 'elements' folder and import here. 
Example of great candidates are title areas, accordions, or tabs.
*********************/

@import '../elements/buttons';
@import '../elements/forms';
@import '../elements/rows-columns';
/*********************
FOOTER STYLES
*********************/

@import '../elements/footer';
