/******************************************************************

Stylesheet: Contact

Styles for Contact page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.google_map_shortcode_holder {
  @include breakpoint(1000px) {
    .google_map_shortcode_overlay {
      display: none !important;
    }
  }
}

.q_icon_with_title .icon_text_holder .icon_title_holder .icon_title {
  font-family: $secondary;
  letter-spacing: 0;
}

.content {
  .vc_row {
    &:first-of-type {
      margin-top: 100px !important;
      z-index: 99;

      @include breakpoint($tablet-break) {
        margin-top: 40px !important;
      }

      h2 {
        margin-bottom: 2rem;
      }
    }
  }

  .q_list ul > li strong {
    font-weight: 500 !important;
  }
}

.gform_legacy_markup_wrapper .gform_body {
  @include breakpoint(min-width 641px) {
    margin-right: -16px;
    width: calc(100% + 16px);
  }
}

#contact-us {
  .full_section_inner {
    .wpb_column {
      @include breakpoint($tablet-break) {
        width: 100%;
      }
      &:first-child {
        padding-right: $col-vw / 4;
        @include breakpoint($laptop-break) {
          padding-right: 0;
        }
      }

      &:last-child {
        padding-left: $col-vw / 4;
        @include breakpoint($laptop-break) {
          padding-left: 0;
        }
      }
    }
  }

  margin-bottom: 100px !important;
  z-index: 99;

  @include breakpoint($tablet-break) {
    margin-bottom: 40px !important;
  }

  input,
  textarea {
    &::placeholder {
      font-size: 16px;
      font-family: $secondary;
      color: #000000;
    }

    @include breakpoint($mobile-break) {
      margin: 0;
    }
  }

  @include breakpoint($mobile-break) {
    .name_first {
      margin-bottom: 20px;
    }
  }

  .ginput_container_email,
  .ginput_container_text {
    margin-top: 0;

    input {
      margin-top: 0;
    }
  }

  .gfield_checkbox {
    label {
      margin-left: calc(16px + 0.5em);

      &:before {
        margin-left: calc(-16px - 0.5em);
        transition: $transition;
      }
    }
  }

  .gform_footer {
    text-align: right;

    input {
      font-weight: 600 !important;
    }
  }

  .wpb_raw_code {
    .wpb_wrapper {
      padding: 2rem 0 2rem 0;
      margin-bottom: 4rem;
      border-bottom: 1px solid #b47b28;
      display: flex;
      flex-wrap: wrap;

      .phone,
      .email {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .image {
          display: flex;
          align-items: center;

          @include breakpoint($tablet-break) {
            width: 80px;
            justify-content: center;
          }
        }

        img {
          padding-right: 1rem;
        }
      }

      .phone {
        padding-right: 3rem;

        @include breakpoint($laptop-break) {
          padding-right: 1.5rem;
        }

        img {
          width: 36px;
          height: auto;

          @include breakpoint($laptop-break) {
            width: 24px;
          }
        }
      }

      .email {
        img {
          width: 56px;
          height: auto;

          @include breakpoint($laptop-break) {
            width: 40px;
          }
        }
      }

      a {
        color: #000000;
        font-weight: 600;
        font-family: $secondary;
        font-size: 18px;
        transition: $transition;

        &:hover {
          color: $color2;
        }
      }
    }
  }

  h3 {
    padding-bottom: 3rem;
  }

  a {
    transition: $transition;
  }
}
