@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@mixin flickerAnimation($duration: "1s") {
  -webkit-animation: flickerAnimation $duration infinite;
  -moz-animation: flickerAnimation $duration infinite;
  -o-animation: flickerAnimation $duration infinite;
  animation: flickerAnimation $duration infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.full_width {
  @include breakpoint(min-width 1001px) {
    padding-left: 40px !important;
  }
}

// Tabs styles
// .tabs .tab-item {
//   display: inline-block;
//   position: relative;
//   opacity: 0.75;
//   padding-bottom: 5px;
//   letter-spacing: 0;
//   margin: 0 5px 0.5rem;
//   font-size: 22px;
//   // font-family: "EB Garamond", Garamond, "Big Caslon", serif;
//   font-weight: 600;
//   white-space: nowrap;
//   transition: $transition;

//   @include breakpoint($laptop-break-lrg) {
//     font-size: 20px;
//   }

//   @include breakpoint($mobile-break) {
//     font-size: 16px;
//   }

//   &.active {
//     font-weight: bold;
//     opacity: 1;
//   }

//   &:hover {
//     color: #cc9e62;
//     opacity: 1;
//   }
// }

.search-wrapper {
  display: flex;
  align-items: center;
  position: relative;

  @include breakpoint($tablet-break) {
    max-width: 300px;
  }

  @include breakpoint($mobile-break) {
    max-width: 250px;
  }

  input {
    width: 100%;
    padding: 1rem 1rem;
    border: 1px solid $color2;
    color: $color1;
    font-size: 1rem;
    font-family: $secondary;

    &:focus {
      outline: none;

      &::placeholder {
        color: $color-p;
        opacity: 0.5;
      }
    }

    &::placeholder {
      color: $color1;
    }
  }

  button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 0;
    background: none;
    padding: 1rem;
    cursor: pointer;

    i {
      color: $color2;
      transition: color $transition;
    }

    &:hover {
      i {
        color: $color1;
      }
    }
  }
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -25px -15px;

  @include breakpoint($laptop-break) {
    margin: -25px -10px;
  }

  @include breakpoint($tablet-break) {
    margin: -20px -7px;
  }

  &::after {
    display: none !important;
  }

  .no-content {
    opacity: 0.5;
    padding: 25px 15px;

    @include breakpoint($laptop-break) {
      padding: 25px 10px;
    }

    @include breakpoint($tablet-break) {
      padding: 20px 7px;
    }
  }
}

// Page styles

.menu-row {
  padding-left: ($col-vw / 2) !important;
  padding-right: ($col-vw / 2) !important;

  .section_inner {
    width: 100% !important;
    margin: 0 !important;
    box-sizing: border-box;

    .vc_column-inner > .wpb_wrapper {
      @include breakpoint($mobile-break) {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.devotional-images {
  // margin-left: -12vw !important;
  // margin-right: -12vw !important;

  // @include breakpoint($laptop-break-lrg) {
  //   margin-left: -6vw !important;
  //   margin-right: -6vw !important;
  // }
  padding-bottom: 100px !important;

  @include breakpoint(1200px) {
    padding: 0 32px;
  }

  @include breakpoint($mobile-break) {
    padding: 0 16px;
  }

  &__title {
    margin-top: 100px;
    margin-bottom: 40px;

    @include breakpoint($tablet-break) {
      margin-top: 40px;
    }

    @include breakpoint($mobile-break) {
      margin-bottom: 20px;
    }

    .title-img {
      position: absolute;
      top: -100px;
      right: 20%;
      width: 300px;

      @include breakpoint($tablet-break) {
        display: none;
      }
    }
  }

  &__inner {
    display: flex;
    flex-flow: wrap;

    * {
      box-sizing: border-box;
    }

    > main {
      flex: 0 0 75%;
      max-width: 75%;

      @include breakpoint($tablet-break) {
        flex: 0 0 70%;
        max-width: 70%;
      }

      @include breakpoint($tablet-break-sml) {
        flex: 0 0 60%;
        max-width: 60%;
      }

      @include breakpoint($mobile-break) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    > aside {
      flex: 0 0 25%;
      max-width: 25%;
      padding-left: 3.5rem;

      @include breakpoint($laptop-break) {
        padding-left: 2.5rem;
      }

      @include breakpoint($tablet-break) {
        flex: 0 0 30%;
        max-width: 30%;
      }

      @include breakpoint($tablet-break-sml) {
        flex: 0 0 40%;
        max-width: 40%;
      }

      @include breakpoint($mobile-break) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        order: -1;
        margin-bottom: 40px;
      }
    }
  }

  &__categories {
    text-align: left;

    &__title {
      margin-bottom: 1em;

      @include breakpoint($mobile-break) {
        font-size: 18px;
      }
    }

    .category-search {
      margin-bottom: 1.5rem;
    }

    ul {
      list-style: none;

      @include breakpoint($mobile-break) {
        display: flex;
        white-space: nowrap;
      }

      li {
        &:not(:last-child) {
          margin-bottom: 0.25rem;

          @include breakpoint($mobile-break) {
            margin-bottom: 0;
            margin-right: 1.5rem;
          }
        }

        .btn {
          background: none;
          border: 0;
          padding: 0 !important;
          box-shadow: none !important;
          cursor: pointer;
          color: $color-p !important;

          &:hover {
            color: $color1 !important;
          }

          &.active {
            font-weight: bold !important;
            color: $color1 !important;
          }
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    margin: -0.5rem -1rem 2rem;

    .posts-search-wrapper,
    .posts-pagination {
      padding: 0.5rem 1rem;
    }

    .posts-search-wrapper {
      width: 100%;
      max-width: 400px;
      min-width: 200px;
      flex: 1;

      @include breakpoint($mobile-break) {
        // min-width: 200px;
        // width: 300px;
        max-width: 100%;
      }

      .posts-search {
        width: 100%;
      }
    }

    &--lg {
      @include breakpoint($tablet-break) {
        display: none;
      }
    }

    &--sm {
      display: none;

      @include breakpoint($tablet-break) {
        display: flex;
        margin-top: 1em;
      }

      .posts-pagination {
        @include breakpoint($mobile-break) {
          display: none;
        }
      }
    }
  }

  &__footer {
    margin-top: 2.5rem;
  }
}

.posts-pagination {
  margin-left: auto;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: -0.5rem;

    li {
      padding: 0.5rem;

      button {
        cursor: pointer;
        background: $white;
        border: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        width: 2.375rem;
        height: 2.375rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        color: $color1;
        transition: $transition;

        &:hover {
          color: $color2;
        }

        &.current {
          background: $color2;
          color: $white;
        }

        &[disabled] {
          box-shadow: none;
          opacity: 0.25;
          pointer-events: none;
        }
      }
    }
  }
}

.devotional {
  box-sizing: border-box;
  width: 33.333%;
  padding: 25px 15px;
  -webkit-animation: fadeIn 0.25s linear;
  -moz-animation: fadeIn 0.25s linear;
  -o-animation: fadeIn 0.25s linear;
  animation: fadeIn 0.25s linear;

  @include breakpoint($laptop-break) {
    padding: 25px 10px;
  }

  @include breakpoint($tablet-break) {
    padding: 20px 7px;
  }

  @include breakpoint($tablet-break) {
    width: 50%;
  }

  @include breakpoint($tablet-break-sml) {
    width: 100%;
  }

  @include breakpoint($mobile-break) {
    width: 50%;
  }

  @include breakpoint(480px) {
    width: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    color: $color2;

    &:hover {
      .devotional__img {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
      }

      .devotional__title {
        color: $color2 !important;
      }

      .btn {
        color: $color2 !important;
      }
    }
  }

  &__img {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: $transition;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title,
  &__date {
    font-family: $secondary;
    letter-spacing: 0;
    line-height: 1.25;
    text-align: left;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 0.5em;
    color: $color-p;
    transition: color $transition;

    @include breakpoint($laptop-break) {
      font-size: 16px;
    }
  }

  &__date {
    font-size: 16px;
    color: $color-p;
    font-weight: 400;
    margin-bottom: 0.5em;

    @include breakpoint($laptop-break) {
      font-size: 14px;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: wrap;
    margin: 0.25em -0.75em -0.5em;

    .btn {
      display: flex;
      font-family: $secondary !important;
      font-weight: 600 !important;
      color: $color1;
      padding: 0.5em 0.75em !important;
      transition: 0.2s ease-in-out;
      box-shadow: none;
      align-items: center;
      height: auto;
      line-height: 1.5;

      svg {
        padding-right: 10px;
        width: auto;
      }

      &:hover,
      &:focus {
        color: $color2;
      }
    }
  }

  &--placeholder {
    .devotional {
      &__img {
        background: #ccc;
        box-shadow: none;
        @include flickerAnimation(1s);
      }
      &__title {
        height: 1.2em;
        width: 100%;
        display: inline-block;
        background: #ccc;
        @include flickerAnimation(0.75s);
      }
      &__date {
        height: 1.25em;
        width: 6em;
        max-width: 75%;
        background: #ccc;
        @include flickerAnimation(1.25s);
      }
      &__buttons {
        height: 1.75em;
        width: 100%;
        background: #ccc;
        margin-right: 0;
        margin-left: 0;
        @include flickerAnimation(1.5s);
      }
    }
  }

  &__modal {
    position: relative;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background: #fff;
    box-sizing: border-box;
    padding: 50px;
    // width: 1200px;
    width: 1020px;
    max-width: 1020px;
    flex-direction: column;
    max-height: calc(100vh - 6rem) !important;

    &:not(.lity-hide) {
      display: flex;
    }

    @include breakpoint($laptop-break) {
      padding: 40px;
      width: 83.3333333333vw;
    }

    @include breakpoint($tablet-break) {
      padding: 30px;
    }

    @include breakpoint($mobile-break) {
      padding: 25px;
    }

    &--downloads {
      padding: 0;
      max-width: 500px;
    }

    &__close {
      border: none;
      background: none;
      appearance: none;
      font-size: 2.5em;
      padding: 0;
      font-family: "Open Sans";
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      line-height: 0.6;
      color: #542015;
      transition: color 0.2s ease-in-out;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;
        color: #996d33;
      }
    }

    &__desc {
      margin: 30px -1rem 0 0;
      padding-right: 1rem;
      flex: 1;
      overflow: auto;

      @include breakpoint($tablet-break) {
        margin-top: 15px;
      }

      ul {
        list-style: none;

        li {
          color: #000;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .lang {
            font-weight: 700;
          }
        }
      }

      a {
        text-decoration: underline;
        color: #000;
        transition: color 0.2s ease-in-out;

        &:hover,
        &:focus {
          color: #996d33;
        }
      }
    }

    .devotional__title {
      font-size: 18px;

      @include breakpoint($tablet-break) {
        font-size: 16px;
      }
    }

    .devotional__date {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: bold;

      > span {
        font-weight: normal;
      }
    }

    .devotional__buttons {
      margin-top: 30px;
    }

    &--placeholder {
      .devotional__title {
        height: 1.25em;
        max-width: 18em;
        background: #eee;
        color: transparent !important;
        @include flickerAnimation(1s);
      }
      .devotional__date {
        height: 1.25em;
        max-width: 7em;
        background: #eee;
        color: transparent !important;
        @include flickerAnimation(1.5s);
      }

      .devotional__modal__desc {
        height: 12.5em;
        min-height: 12.5em;
        width: 100%;
        background: #eee;
        color: transparent !important;
        @include flickerAnimation(1.25s);

        > ul {
          display: none;
        }
      }

      .devotional__buttons {
        height: 2.25em;
        width: 9em;
        margin-left: 0;
        background: #eee;
        color: transparent !important;
        @include flickerAnimation(1.75s);

        a {
          display: none;
        }
      }

      .devotional-downloads {
        &__links {
          li {
            a {
              display: block;
              height: 1.75em;
              width: 8em;
              max-width: 100%;
              background: rgba(255, 255, 255, 0.2);
              @include flickerAnimation(1.25s);

              * {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.devotional-downloads {
  max-height: 100%;
  overflow: auto;

  h5,
  h4 {
    font-family: $primary;

    &.bottom {
      margin-bottom: 0.5em;
    }
  }

  &__links,
  &__subscribe {
    padding: 50px;
    @include breakpoint($laptop-break) {
      padding: 40px;
    }

    @include breakpoint($tablet-break) {
      padding: 30px;
    }

    @include breakpoint($mobile-break) {
      padding: 25px;
    }
  }
  &__links {
    background-color: $color1;

    h5,
    a {
      color: $white;
    }

    ul {
      list-style: none;
      display: flex;
      flex-flow: wrap;
      margin: -0.5rem;
      margin-top: 1rem;

      li {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0.5rem;

        a {
          display: inline-flex;
          align-items: center;
          transition: color $transition;

          img {
            width: 1rem;
            height: 1rem;
            margin-right: 1rem;
          }

          svg {
            color: $color2;
            margin-left: 0.5rem;
            height: 1rem;
            width: auto;
          }

          &:hover {
            color: $color2;
          }
        }
      }
    }
  }

  &__subscribe {
    .gform_wrapper:not(.gform_validation_error) {
      form {
        position: relative;
      }
      .gfield {
        &.consent {
          max-width: calc(100% - 120px);

          @include breakpoint($mobile-break) {
            max-width: initial;
          }
        }
      }
      .gform_footer {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 120px;

        @include breakpoint($mobile-break) {
          position: relative;
          max-width: initial;
        }
      }
    }

    .gform_footer {
      position: relative;
      text-align: right;
      padding-top: 0;
      padding-bottom: 0;

      input[type="submit"] {
        background: $white;
        margin-bottom: 0;

        + img {
          position: absolute;
          right: -20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.lity {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);

  .lity-container {
    max-width: 1020px;
  }

  .lity-close {
    position: absolute;
    top: -1rem;
    right: 0;
    font-size: 40px;
    transform: translate(0, -100%);
    color: $color1;
    text-shadow: none;
    font-family: $secondary !important;
    transition: color $transition;

    &:hover {
      color: $color2;
    }
  }

  .lity-content::after {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}
