/******************************************************************

Stylesheet: Donate Page

Styles for Donate ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.image {
  &.responsive {
    img {
      @include breakpoint($mobile-break) {
        height: 120px;
        object-fit: cover;
      }
    }
  }
}

.hero {
  margin-top: -75px;

  @include breakpoint($mobile-break) {
    margin-top: -40px;
  }

  .lb-col {
    z-index: 999;
  }

  > .lb-row-inner {
    justify-content: center;
  }

  h1 {
    text-align: center;
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 32px;

    @include breakpoint($mobile-break) {
      padding: 16px;
    }
  }
  .lb-col {
    &.col-6 {
      @include breakpoint($mobile-break) {
        width: $col * 10 !important;
      }
    }
  }
}

.lb-col {
  &.col-4 {
    width: $col * 4 !important;
    @include breakpoint($mobile-break) {
      width: 100% !important;
    }
  }
  &.col-6 {
    width: 50% !important;
    @include breakpoint($mobile-break) {
      width: 100% !important;
    }
  }
}

.your-gift {
  h4 {
    margin-bottom: 1rem;
    @include breakpoint($mobile-break) {
      font-size: 18px !important;
    }
  }

  p {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
  .lb-col {
    &:first-child {
      padding-right: $col-vw / 2;
    }
    &:last-child {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: calc(#{-$col-vw} / 1.5 - 84px);
        left: $col-vw;
        width: $col-vw * 3;
        height: $col-vw * 1.5;
        background-image: url("https://orientale.it/en/wp-content/uploads/2021/03/Mask-Group-1@2x-1.png");
        background-repeat: repeat;
        background-position: left center;
        background-size: 25%;

        @include breakpoint($laptop-break-lrg) {
          height: $col-vw * 2;
          width: $col-vw * 4;
          height: $col-vw * 4;
        }

        @include breakpoint($tablet-break) {
          top: calc(#{-$col-vw} / 1.5 - 125px);
          left: unset;
          right: -$col-vw * 2.5;
          background-size: 50%;
        }

        @include breakpoint($mobile-break) {
          display: none;
        }
      }
      .video {
        position: absolute;
        left: $col-vw / 2;
        top: -45px;
        z-index: 9;

        @include breakpoint($tablet-break) {
          position: unset;
        }

        @include breakpoint($mobile-break) {
          padding-top: 2rem;
        }

        &__wrapper {
          display: flex;
          position: relative;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          width: 350px;

          @include breakpoint($tablet-break) {
            width: auto;
          }

          img {
            width: 100%;
            height: 100%;
          }

          &:hover {
            .video__play {
              background: $white;

              svg {
                color: $color2;
              }
            }
          }
        }

        &__play {
          background: $color2;
          width: 55px;
          height: 55px;
          padding: 15px;
          box-sizing: border-box;
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          transition: $transition;

          @include breakpoint($laptop-break-lrg) {
            width: 55px;
            height: 55px;
            padding: 15px;
          }

          @include breakpoint($tablet-break) {
            width: 45px;
            height: 45px;
            padding: 10px;
          }

          svg {
            height: 100%;
            width: auto;
            transform: translateX(15%);
            color: $white;
            transition: $transition;
          }
        }
        h5 {
          text-align: right;
          font-style: italic;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.columns {
  .lb-col {
    padding-right: $col-vw / 2;
    &:last-of-type {
      padding-right: 0;
    }
    @include breakpoint($mobile-break) {
      padding-right: 0;
      padding-bottom: 2rem;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
    img {
      width: 60px;
      height: auto;
      margin-bottom: 1rem;
      image-rendering: -webkit-optimize-contrast;
    }
    h4 {
      margin-bottom: 1rem;
      @include breakpoint($mobile-break) {
        font-size: 18px !important;
      }
    }
  }
}

.donate {
  h2 {
    margin-bottom: 2rem;
  }
  .tabs {
    width: 100%;
    box-sizing: border-box;

    .tabs-nav {
      margin-bottom: 3rem;

      @include breakpoint($mobile-break) {
        overflow-x: scroll;
      }

      .tabs-nav-inner {
        display: flex;
        align-items: center;

        @include breakpoint($mobile-break) {
          width: auto;
        }

        a {
          font: $h2;
          font-size: 2em; // color: transparentize($color1, 0.5);
          opacity: 0.5;
          padding-right: 1.75rem;
          margin-right: 2rem;
          position: relative;
          transition: $transition;

          display: flex;
          align-items: center;

          img {
            width: 30px;
            margin-right: 0.75rem;
          }

          @include breakpoint($tablet-break) {
            font-size: 1.125rem !important;
            padding-right: 1rem;
            margin-right: 1rem;
          }

          @include breakpoint($mobile-break) {
            white-space: nowrap;
          }

          &::after {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            background: $color2;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          &:last-child {
            padding-right: 0;
            margin-right: 0;

            &::after {
              display: none;
            }
          }

          &:hover,
          &.active {
            color: $color1;
            opacity: 1;
          }
        }
      }
    }

    .tab-bodies {
      width: 100%;
      box-sizing: border-box;

      .tab-body {
        width: 100%;
        box-sizing: border-box;
        display: none;

        &.active {
          display: block;
          animation: lb-fade-in 0.5s;
          animation-fill-mode: forwards;

          @at-root {
            @keyframes lb-fade-in {
              from {
                transform: translateY(10px);
                opacity: 0;
              }

              to {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
        }

        .gform_wrapper {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          padding: $col-vw / 4 $col-vw / 2;
          width: $col-vw * 6;

          .gfield_label {
            @include font-size(16px, 16px, 16px, 16px);
          }

          @include breakpoint($tablet-break) {
            width: auto;
          }

          @include breakpoint($mobile-break) {
            box-shadow: none;
            padding: 0;
          }

          input {
            margin-top: 0;
            margin-bottom: 0;
          }

          .gfield_radio {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            li {
              margin-right: 1rem;
              position: relative;

              label {
                font-weight: 600 !important;
                margin: 2px 0 0 21px;
                display: flex;

                &:after {
                  content: "";
                  opacity: 1;
                }
              }

              &[class^="gchoice"] {
                label {
                  &:before,
                  &:after {
                    bottom: 0;
                    content: "";
                    margin: auto;
                    position: absolute;
                    top: 0;
                  }
                  &::before {
                    background-color: $color1;
                    height: 8px;
                    width: 8px;
                    left: 4px;
                    text-align: center;
                    top: 2px;
                    z-index: 9;
                    border-radius: 50%;
                    opacity: 0;
                  }
                  &:after {
                    content: "";
                    background-color: #fff;
                    border: solid 1px $color1;
                    border-radius: 50%;
                    display: inline-block;
                    height: 16px;
                    left: 0;
                    position: absolute;
                    top: 2px;
                    transition: left 0.25s, background-color 0.13s;
                    width: 16px;
                  }
                }
              }

              input {
                &[type="radio"] {
                  display: none;

                  &:checked {
                    & + label {
                      &:before {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
            }
          }
          .amount {
            .ginput_container_radio {
              margin-top: 0 !important;
              .gfield_radio {
                position: relative;
                width: 100%;
                li {
                  &:last-child {
                    width: calc(50% - 8px);
                    margin: 0;
                    position: absolute;
                    right: 0;
                    padding-right: 16px;

                    @include breakpoint($mobile-break) {
                      width: 100%;
                      position: unset;
                    }
                  }
                }
                .gchoice {
                  label {
                    font-family: $primary;
                    font-size: 2em;
                    font-weight: 400 !important;
                    margin-left: 0;
                    margin-right: 0.5em;
                    &:before,
                    &:after {
                      display: none;
                    }
                  }
                  input {
                    ~ label {
                      color: $color1;
                      transition: $transition;

                      &:hover {
                        color: $color2;
                      }
                    }
                    &:checked {
                      ~ label {
                        color: $color2;
                      }
                    }
                    &[type="text"] {
                      width: 100%;
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
          .personal-information {
            margin-bottom: 10px;
          }
          .zip {
            width: 25%;

            @include breakpoint($mobile-break) {
              width: 50%;
            }
          }
          .payment-option {
            margin-top: 10px;

            @include breakpoint($mobile-break) {
              margin-bottom: 0;
            }
            .gfield_radio {
              li {
                &:first-of-type {
                  input {
                    &[type="radio"] {
                      &:checked {
                        & + label {
                          &:before {
                            @include breakpoint($tablet-break-sml) {
                              top: -5px !important;
                            }
                            @include breakpoint(380px) {
                              top: -4px !important;
                            }
                          }
                        }
                      }
                    }
                  }
                }
                &:last-of-type {
                  input {
                    &[type="radio"] {
                      &:checked {
                        & + label {
                          &:before {
                            top: -2px !important;
                            @include breakpoint($tablet-break-sml) {
                              top: -2px !important;
                            }
                            @include breakpoint(380px) {
                              top: -1px !important;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            label {
              img {
                margin-left: 0.5rem;
              }
            }
          }
          .paypal {
            margin-bottom: 4rem;

            @include breakpoint($mobile-break) {
              margin-bottom: 2rem;
            }
            img {
              margin-top: 1em;
              display: block;
              width: 80px;

              @include breakpoint($mobile-break) {
                width: auto;
              }
            }
          }
          .gfield_select {
            padding: 11.5px 15px !important;
            margin-top: 0;
            font-size: inherit;
            font-family: inherit;
            background-color: $white;

            @include breakpoint($mobile-break) {
              padding: 18px 15px !important;
            }
          }
          .gfield_price {
            border: 0;
            clip: rect(1px, 1px, 1px, 1px);
            clip-path: inset(50%);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            word-wrap: normal !important;
          }
          .gform_footer {
            text-align: right;
            padding-bottom: 0;
          }
        }

        .int-us-wrapper {
          display: flex;
          max-width: 50%;

          @include breakpoint($tablet-break) {
            max-width: 100%;
          }

          @include breakpoint($mobile-break) {
            flex-wrap: wrap;
          }

          h5 {
            font-family: $primary;
            @include font-size(21px, 21px, 21px, 21px);
            margin-bottom: 2rem;

            @include breakpoint($mobile-break) {
              margin-bottom: 1.5rem;
            }
          }

          img {
            width: 40%;
            height: 70px;
            object-fit: contain;
            object-position: left;
            margin-bottom: 2rem;

            @include breakpoint($mobile-break) {
              margin-bottom: 1rem;
            }
          }

          .international,
          .us {
            width: 100%;
          }

          .international {
            padding-right: $col-vw / 3;

            @include breakpoint($mobile-break) {
              padding-right: 0;
              padding-bottom: 2rem;
            }
          }

          p {
            &:not(:first-of-type) {
              strong {
                display: block;
                margin-top: 1rem;
              }
            }
          }
        }
        .donations-text {
          margin-top: 4rem;
          max-width: 50%;

          @include breakpoint($tablet-break) {
            max-width: 100%;
          }
          @include breakpoint($mobile-break) {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
