/******************************************************************

Stylesheet: Events Page (Tribe)

Styles for Events page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

#tribe-events-content-wrapper {
    width: 100% !important;
}

// LIST VIEW STYLES
.tribe-events-list {
    .type-tribe_events {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .tribe-events-loop {
        width: 100%;
        max-width: 100% !important;
    }

    .tribe-events-read-more {
        margin-top: 1rem !important;
        display: block;
        float: left;
    }

    .tribe-events-content {
        width: 60%;
        float: right !important;
    }

    .tribe-event-schedule-details {
        font-size: 1.2rem !important;
        margin-bottom: 1rem !important;
    }

    .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
        color: #fff !important;
    }

    .tribe-events-list-event-title {
        margin-bottom: 1rem;
        a {
            font-size: 2rem !important;
        }
    }

    .tribe-event-schedule-details,
    .tribe-events-event-meta,
    .tribe-events-venue-details {
        @include breakpoint($tablet-break) {
            background: transparent !important;
            border: 0 !important;
            padding-left: 0 !important;
        }
    }

    .tribe-event-schedule-details {
        @include breakpoint($tablet-break) {
            margin-bottom: 0 !important;
        }
    }
}

.tribe-events-calendar thead th {
    @include breakpoint($mobile-break) {
        font-size: 10px !important;
    }
}

.tribe-common .tribe-common-c-svgicon {
    color: $color1;
}

.calendar-row {
    background-color: #ffffff;
}

.first-row h5 {
    padding-bottom: 2em;
}

.tribe-events-calendar thead th {
    background-color: #660b21;
}

.calendar-row.grid_section {
    margin: 0 8.333333vw;
}

.tribe-events-othermonth.tribe-events-future {
    background: #CCCCCC !important;
}

.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-]>a,
.tribe-events-othermonth .tribe_events,
a.tribe-events-ical.tribe-events-button,
.tribe-bar-date-filter,
.tribe-events-future .type-tribe_events,
.tribe-events-month #tribe-events-header,
.tribe-events-list #tribe-events-footer {
    display: none !important;
}

.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a,
.tribe-events-calendar td div[id*=tribe-events-daynum-] {
    background-color: #CCCCCC;
}

#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type=submit],
.tribe-events-button,
.tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
    background-color: #0B3048;
    text-align: right; // font-size: 16px;
}

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
    padding: 1%;
}

thead,
td.tribe-events-othermonth,
td.tribe-events-thismonth,
td.tribe-events-nextmonth {
    border: 1px solid #0B3048 !important;
}

.tribe-events-calendar thead th {
    border: none;
    font-size: 16px;
}

.tribe-events-month table .type-tribe_events {
    margin: 10px 0;
    padding: 0;
    background-color: #660b21;
}

.tribe-events-thismonth a.url {
    color: white;
    opacity: 1 !important;
    font-family: $secondary;
}

.tribe-events-past a.url {
    color: white;
    opacity: 1 !important;
    font-family: $secondary;
}

.tribe-events-othermonth .tribe-events-month-event-title,
.tribe-events-othermonth div[id*=tribe-events-daynum-] {
    opacity: 1;
}

.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a {
    text-align: right;
}

.tribe-events-calendar div[id*=tribe-events-daynum-],
.tribe-events-calendar div[id*=tribe-events-daynum-] a {
    text-align: right;
    font-size: 16px;
}

.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a {
    font-size: 16px;
    padding-right: 30px;
    color: #0B3048;
}

.tribe-events-calendar td div[id*=tribe-events-daynum-] {
    padding-right: 30px; // color: #0B3048;
}

ul.tribe-events-sub-nav a {
    font-size: 20px;
}

.tribe-events-sub-nav {
    padding-top: 20px !important;
}

.tribe-events-shortcode .tribe-bar-search-filter {
    width: 75%;
}

.mainpara h5 {
    font-size: 28px;
}

.tribe-events-list .type-tribe_events {
    padding: 0 15vw;
}

.tribe-events-list-separator-month span {
    display: none;
}

div#tribe-events {
    display: flex;
    flex-wrap: wrap;
}

div#tribe-events-bar {
    order: 1;
}

.tribe-events-title-bar {
    order: 2;
    padding: 2rem 0 2rem 1rem;
}

div#tribe-events-content {
    order: 3;
}

.tribe-bar-filters-inner.tribe-clearfix,
#tribe-bar-form .tribe-bar-submit input[type=submit],
#tribe-bar-form .tribe-bar-views-inner label {
    background: white;
    color: #660b21;
}

input.tribe-events-button.tribe-no-param {
    text-align: center !important;
}

.tribe-bar-views-inner,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
#tribe-bar-form #tribe-bar-views {
    background: white;
}

.view-list .type-tribe_events {
    display: flex;
    flex-wrap: nowrap;
}

.view-list .tribe-events-event-meta {
    order: 1;
}

.view-list .tribe-events-event-image {
    order: 2;
}

.view-list .tribe-events-list-event-title {
    order: 3;
}

.view-list .entry-summary {
    order: 4;
}

.tribe-events-list {
    width: 100%;
}

.tribe-events-list .tribe-events-event-image img {
    object-fit: cover;
}

.tribe-events-list .tribe-events-loop .tribe-events-content {
    padding: 0;
}

.tribe-events-shortcode .tribe-events-month table .type-tribe_events {
    margin: 5% 0;
}

.tribe-events-read-more {
    box-shadow: 0 3px 6px transparentize($black, 0.92) !important;
    padding: 0.5rem 2rem;
    transition: 0.3s;
    color: #b47a28;
}

.tribe-events-read-more:hover {
    box-shadow: 0 6px 10px transparentize($black, 0.84) !important;
}

.tribe-events-calendar td.tribe-events-othermonth {
    opacity: 0.5;
}

.tribe-events-shortcode .tribe-events-month table .type-tribe_events {
    padding: 4px 8px;
}

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
    text-align: left;
}

// styles for new view
.tribe-events {
    header {
        position: relative !important;

        &.tribe-events-header {
            z-index: 999 !important;
            margin: 0;

            @include breakpoint ($mobile-break) {
                time {
                    font-size: 1rem;
                }
            }
        }
        
        .tribe-events-calendar-latest-past__event-datetime-featured-text {
            color: $color-p !important;
        }
    }
    .tribe-events-c-top-bar__datepicker-container {
        @include breakpoint ($tablet-break) {
            max-width: 100%;
        }
    }
    .tribe-events-c-view-selector__button {
        &:before {
            background-color: $color1;
        }
    }
    .tribe-events-c-top-bar {
        .datepicker {
            thead {
                border: none !important;
            }
            span,
            td {
                &.active {
                    background-color: $color1 !important;
                }
            }
        }
    }
    .tribe-events-header__events-bar {
        .tribe-common-c-btn {
            background-color: $color1;
            transition: $transition;

            &:hover {
                background-color: $color2;
            }
        }
    }
    .tribe-events-c-view-selector__list-item-text,
    .tribe-common .tribe-common-form-control-text__input,
    .tribe-common .tribe-common-form-control-text__input:placeholder {
        font-family: $secondary;
        transition: $transition;
    }
    .tribe-common-c-btn-border-small,
    .tribe-events-c-top-bar__datepicker-desktop {
        font-family: $secondary !important;
    }
    .tribe-events-c-messages__message {
        svg {
            color: $color1;
        }
        .tribe-events-c-messages__message-list-item {
            font-family: $secondary;

            a {
                &:hover {
                    color: $color2;
                }
                border-color: $color1;
            }
        }
    }
    .tribe-events-calendar-month__header-column {
        background-color: $color1;
        padding: 1em 0 !important;
        h3 {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            font-family: $secondary;
        }

    }
    .tribe-events-calendar-month__day-date {
        background-color: #CCCCCC;
        font-size: 16px;
        font-family: $secondary;

        @include breakpoint ($tablet-break) {
            background-color: transparent;
        }
        a {
            font-size: 16px;
            font-family: $secondary;
            font-weight: 700;
        }
    }
    .tribe-events-calendar-month__day--current {
        .tribe-events-calendar-month__day-date {
            background-color: #0B3048;

            @include breakpoint ($tablet-break) {
                background-color: transparent;
            }
        }
        time {
            color: #fff;
            
            @include breakpoint ($tablet-break) {
                color: $color-p;
            }
        }
        &.tribe-events-calendar-month__day-cell--selected {
            time {
                color: #fff;
            }
        }
    }
    .tribe-common-anchor-thin {
        border: none !important;
        line-height: normal;
        font-size: 1.5rem;
    }
    .tribe-events-calendar-month__calendar-event {
        margin-top: 8px;
    }
    .tribe-events-c-ical__link {
        color: $color1;
        border-color: $color1;
        transition: $transition;

        svg {
            path {
                color: $color1;
                transition: $transition;
            }
        }

        &:hover {
            color: #fff;
            background-color: $color1;

            svg {
                path {
                    color: #fff;
                }
            }
        }
    }
    .tribe-events-calendar-month__calendar-event-tooltip-featured-image-wrapper {
        width: 100%;
    }

    time {
        font-family: $secondary;
        span {
            font-family: $secondary;
        }
        
        &:after {
            display: none;
        }
    }

    .tribe-events-calendar-list__event-header {
        position: relative !important;
        .tribe-events-calendar-list__event-datetime,
        address {
            span {
                font-family: $secondary;
            }
        }
    }
    .tribe-events-calendar-month__day {
        &:after {
            display: none;
        }
    }
    .tribe-events-calendar-month__day-cell--selected {
        background-color:#0B3048;
        opacity: 0.8;
        &:focus,
        &:hover {
            background-color: #0B3048;
            time {
                color: #fff !important;
            }
        }
        .tribe-events-calendar-month__day-date-daynum {
            color: #fff !important;
        }
    }
    .tribe-events-c-day-marker__date,
    .tribe-events-calendar-month-mobile-events__mobile-event-datetime,
    .tribe-events-c-messages__message-list-item {
        color: $color-p;

        span {
            color: $color-p;
        }

        a,
        a:hover,
        a:selected,
        a:focus {
            border-bottom: none;
        }
    }
    .tribe-events-calendar-month-mobile-events__mobile-event-title-link {
        border-bottom: none !important;
    }

    p {
        font-family: $secondary;
    }
    &.tribe-events-view--list {
        .tribe-events-calendar-list__event-header {
            h3 {
                a {
                    color: $color1;
                    transition: $transition;
                    &:hover {
                        color: $color2;
                    }
                }
            }
        }
        .tribe-events-c-nav__list {
            .tribe-events-c-nav__prev-label,
            .tribe-events-c-nav__next-label {
                font-family: $secondary;
                font-weight: 700;
            }
            a:not(:disabled),
            button:not(:disabled) {
                color: $color1;
                transition: $transition;
                &:hover {
                    color: $color2;
                }
            }
        }
    }
}
