/******************************************************************

Stylesheet: Home Page

Styles for Homepage ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

@mixin fancy-list {
  ul {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    li {
      box-sizing: border-box;
      list-style: none;
      padding-left: 1em;
      position: relative;
      color: $color1;
      font-weight: 700;
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: $color2;
        position: absolute;
        left: 0;
        top: calc(0.5em + 2px);
      }
    }
  }
}

.hero {
  height: calc(100vh - 137px); // minus header height
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center 25% !important;

  @include breakpoint($laptop-break-lrg) {
    height: calc(100vh - 134px);
  }

  @include breakpoint($laptop-break) {
    height: calc(100vh - 132px);
  }

  @include breakpoint($tablet-break) {
    height: auto;
    min-height: initial !important;
  }

  .lb-row-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .logo {
      position: absolute;
      right: -$col-vw;
      bottom: 50px;
      width: $col-vw * 4.5;
      opacity: 0.4;
      z-index: 1;
      transform: rotate(25deg);

      @include breakpoint($tablet-break) {
        bottom: 25px;
      }

      @include breakpoint($mobile-break) {
        bottom: 0;
        width: $col-vw * 5.5;
      }
    }

    .latests {
      max-height: calc(100% - 50px);
      margin-top: 25px;
      margin-bottom: 25px;
      background: transparentize($white, 0.08);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding: 45px $col-vw / 3.5;
      width: $col-vw * 4.25;
      box-sizing: border-box;
      position: relative;
      z-index: 3;

      @include breakpoint($laptop-break) {
        // height: calc(100% - 155px);
        width: $col-vw * 5.25;
      }

      @include breakpoint($tablet-break) {
        width: 45%;
        max-height: initial;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: $col-vw 45px;
      }

      @include breakpoint($mobile-break) {
        width: 100%;
        padding-right: calc(#{$col-vw} - 15px) !important;
        padding-left: calc(#{$col-vw} - 15px) !important;
      }

      > h4 {
        text-transform: uppercase;
        font-family: $primary;
        margin-bottom: 2rem;

        @include breakpoint($tablet-break $laptop-break-sml) {
          margin-bottom: 1.5rem;
        }
      }

      .latests-inner {
        .latest {
          margin-bottom: 1.5rem;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid $color2; // Matthew laptop
          @include breakpoint(1700px) {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
          }

          &:nth-child(n + 5) {
            display: none;
          }

          // @include breakpoint($tablet-break) {
          //   &:nth-child(n + 5) {
          //     display: none;
          //   }
          // }

          // @media screen and (max-width: 1700px) and (max-height: 950px) {
          //   &:nth-last-child(1) {
          //     display: none;
          //   }
          // }

          @include breakpoint($laptop-break) {
            margin-bottom: 1.25rem;
            padding-bottom: 1.25rem;
            &:nth-last-child(1) {
              display: block;
            }
          } // @include breakpoint($laptop-break-sml) {
          //     &:nth-last-child(2) {
          //         display: none;
          //     }
          // }
          @include breakpoint($tablet-break $laptop-break-sml) {
            margin-bottom: 1.2rem;
            padding-bottom: 1.2rem;
          }

          @include breakpoint($tablet-break) {
            margin-bottom: 1.15rem;
            padding-bottom: 1.15rem;

            &:last-child {
              display: none;
            }
          }

          .latest-inner {
            > a:hover {
              .name {
                color: $color2;
              }
            }

            .name {
              color: #525252;
              transition: $transition;
              font-weight: 600 !important;
              font-size: 18px !important;
              font-family: $secondary;
              word-break: break-word;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;

              &:hover {
                color: $color2;
              }

              @include breakpoint($laptop-break) {
                font-size: 16px !important;
              }

              @include breakpoint($mobile-break) {
                font-size: 14px !important;
              }
            }

            .categories {
              margin-top: 0.5rem;

              .cat {
                font-size: 0.8rem;
                transition: $transition;
                margin-right: 0.25em;
                background: $white;
                color: #525252;
                padding: 0.1em 0.3em;
                transition: $transition;

                &:last-child {
                  margin-right: 0;
                }

                &:hover {
                  color: $white;
                  background: $color2;
                }
              }
            }
          }
        }
      }

      .btn-2 {
        font-size: 1.25rem !important;
        font-weight: 400 !important;
        font-family: $primary !important;
        transition: $transition;

        &::after {
          right: calc(0.375rem);
        }

        &::before,
        &::after {
          transition: $transition;
        }

        @include breakpoint($mobile-break) {
          font-size: 14px !important;

          &::before {
            width: 0.7em !important;
          }

          &::after {
            right: 4px !important;
          }
        }

        &:hover {
          color: $color2;

          &::before,
          &::after {
            background: $color2;
          }
        }
      }
    }

    .hero-video {
      position: absolute;
      bottom: -50px;
      right: 0;
      z-index: 9;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

      @include breakpoint($laptop-break) {
        bottom: -30px;
      }

      @include breakpoint($mobile-break) {
        position: relative;
        bottom: 0;
        width: 100%;
      }

      &__bg {
        background: $white;
        padding: 0 90px 45px;
        background-image: url("https://orientale.it/en/wp-content/uploads/2021/03/Mask-Group-1@2x-1.png");
        background-repeat: repeat;
        background-position: left center;
        background-size: 20%;

        @include breakpoint($laptop-break-lrg) {
          padding: 0 60px 30px;
        }

        @include breakpoint($laptop-break) {
          padding: 0 50px 25px;
        }

        @include breakpoint($tablet-break) {
          padding: 0 30px 15px;
        }

        @include breakpoint($mobile-break) {
          padding: 0 30px 30px 0;
        }
      }

      &__wrapper {
        display: flex;
        position: relative;
        top: -45px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        width: 450px;

        @include breakpoint($laptop-break-lrg) {
          width: 320px;
          top: -30px;
        }

        @include breakpoint($laptop-break) {
          top: -25px;
        }

        @include breakpoint($tablet-break) {
          top: -15px;
          width: 260px;
        }

        @include breakpoint($mobile-break) {
          top: 0;
          width: 100%;
          max-width: 25rem;
        }

        img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          .hero-video__play {
            background: $white;

            svg {
              color: $color2;
            }
          }
        }
      }

      &__play {
        background: $color2;
        width: 75px;
        height: 75px;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        transition: $transition;

        @include breakpoint($laptop-break-lrg) {
          width: 55px;
          height: 55px;
          padding: 15px;
        }

        @include breakpoint($tablet-break) {
          width: 45px;
          height: 45px;
          padding: 10px;
        }

        svg {
          height: 100%;
          width: auto;
          transform: translateX(15%);
          color: $white;
          transition: $transition;
        }
      }
    }

    .hero-menu {
      height: 125px;
      width: 100%;
      border-top: 1px solid $white;
      box-sizing: border-box;
      position: relative;
      z-index: 3;

      @include breakpoint($laptop-break) {
        height: 105px;
      }

      @include breakpoint($mobile-break) {
        height: auto;
      }

      .hero-menu-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        @include breakpoint($mobile-break) {
          flex-wrap: wrap;
        }

        a,
        .search {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: calc(100% / 3);
          text-align: center;
          color: $white;
          font-family: $primary;
          font-size: 1.75rem;
          transition: $transition;
          background: transparentize($color1, 0.2);
          border-left: 1px solid $white;
          border-right: 1px solid $white;
          text-transform: uppercase;
          line-height: 1.75em;

          &.qode_search_submit {
            background: none;
            border: none;
            width: auto;
            height: auto;
            right: 0;
            padding: 0;

            .fa {
              font-size: 1.5rem;
            }

            &:hover {
              background: none;
            }
          }

          .qode_search_form_2 {
            position: relative;
            background-color: transparent;
            width: 50%;
            height: auto;

            @include breakpoint($tablet-break) {
              width: 65%;
            }
            .form_holder_outer {
              height: auto;

              .form_holder {
                display: flex;
                padding: 0;
              }
            }

            input {
              font-family: $secondary;
              color: $white;
              text-transform: none;
              font-style: italic;
              font-size: 1rem;
              border-bottom: 1px solid $white;
              font-weight: 400;
              float: left;
              padding-bottom: 5px;
              width: 85%;

              &::placeholder {
                color: $white;
                opacity: 0.5;
              }
            }

            a {
              svg {
                height: 20px;
              }
            }

            .container {
              background-color: transparent;
              padding-left: 0;
            }
          }

          @include breakpoint($tablet-break) {
            font-size: 1.25rem !important;
          }

          @include breakpoint($mobile-break) {
            font-size: 18px !important;
            width: 100%;
            border-top: 1px solid $white;
            border-left: 0;
            border-right: 0;
            padding: $col-vw;
          }

          &:first-child {
            border-right: 0;
          }

          &:last-child {
            border-left: 0;
            right: 10px;

            @include breakpoint($tablet-break) {
              right: 0;
            }
          }

          &:hover {
            background: transparentize($color1, 0.1);
          }
        }
      }
    }
  }
}

.study {
  &:not(#yes) {
    @include breakpoint($tablet-break) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .lb-row-inner {
    flex-direction: column;

    h2 {
      margin-bottom: 2rem;

      @include breakpoint($tablet-break) {
        padding: 0 $col-vw;
      }

      @include breakpoint($mobile-break) {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
      }
    }

    .to-study-wrapper {
      width: 100%;
      padding: 0 ($col-vw * 0.75);
      display: flex;
      box-sizing: border-box;

      @include breakpoint($laptop-break) {
        padding: 0;
      }

      @include breakpoint($mobile-break) {
        flex-wrap: wrap;
      }

      .to-study {
        width: calc(100% / 3);
        border-right: 1px solid $color2;
        box-sizing: border-box;

        @include breakpoint($mobile-break) {
          width: 100%;
          border-right: 0;
        }

        &:last-child {
          border-right: 0;
        }

        .to-study-inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: ($col-vw * 0.35) ($col-vw / 2);

          @include breakpoint($tablet-break) {
            padding: $col-vw / 2;
          }

          &:hover {
            .info {
              .title {
                color: $color2;
              }
            }
          }

          .img {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              height: 65px;
              width: auto;

              @include breakpoint($tablet-break) {
                height: 3.5rem;
              }
            }
          }

          .info {
            .title {
              height: auto;
              font-size: 1.7rem !important;
              position: relative;
              text-align: center;
              margin-top: 2.15rem;
              transition: $transition;
              text-transform: capitalize;

              @include breakpoint($tablet-break) {
                font-size: 20px !important;
              }

              @include breakpoint($mobile-break) {
                margin-top: 1.15rem;
              }

              .subtitle {
                position: absolute;
                right: 0;
                top: -1.25em;
                font-size: 1rem !important;
                color: $color-p;
                opacity: 0.5;
                line-height: 1em !important;

                @include breakpoint($tablet-break) {
                  right: 0.5rem;
                  top: -0.8em;
                }

                @include breakpoint($mobile-break) {
                  top: -0.3em;
                }
              }
            }
          }
        }
      }
    }
  }
}

.students {
  .lb-row-inner {
    align-items: stretch;

    .lb-col {
      width: 50% !important;

      @include breakpoint($mobile-break) {
        width: 100% !important;
      }

      .lb-col-inner {
        display: flex;
        height: 100%;
        flex-direction: column;

        @include breakpoint($mobile-break) {
          flex-direction: row;
        }

        .current {
          a {
            &::before {
              background: $color1;
            }
          }
        }

        .prospective {
          a {
            &::before {
              background: $color2;
            }
          }
        }

        .current,
        .prospective {
          width: 100%;
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;

          a {
            width: 100%;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @include bg-cc;
            @include home-padding-top($col-vw);
            @include home-padding-bottom($col-vw);

            &:hover {
              &::before {
                opacity: 0.5;
              }
            }

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              opacity: 0;
              z-index: 9;
              transition: $transition;
            }

            @include breakpoint($tablet-break) {
              padding: $col-vw ($col-vw / 2) !important;
            }

            @include breakpoint($mobile-break) {
              padding: ($col-vw * 2) $col-vw !important;
            }

            h2 {
              position: relative;
              z-index: 10;
              color: $white !important;

              @include breakpoint($tablet-break) {
                font-size: 1.5rem !important;
              }

              @include breakpoint($mobile-break) {
                font-size: 18px !important;
              }
            }
          }
        }

        .ordo {
          width: 100%;
          display: flex;
          height: 100%;

          .ordo-inner {
            width: 100%;
            height: 100%;
            padding: $col-vw;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            @include bg-cc;

            @include breakpoint($mobile-break) {
              padding-right: calc(#{$col-vw} - 15px) !important;
              padding-left: calc(#{$col-vw} - 15px) !important;
            }

            .text {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
            }

            .logo {
              width: 60%;

              @include breakpoint(1600px) {
                width: 70%;
              }
            }

            .buttons {
              padding-top: 2rem;
              margin-top: 2rem;
              position: relative;
              display: inline-block;

              @include breakpoint($tablet-break) {
                margin-top: 1rem;
                padding-top: 1rem;
              }

              &::before {
                content: "";
                width: 100%;
                height: 1px;
                background: $white;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
              }

              a {
                display: flex;
                align-items: center;
                color: $white;
                margin-top: 1rem;
                transition: $transition;

                &:first-child {
                  margin-top: 0;
                }

                &:hover {
                  color: $color2;

                  svg {
                    path {
                      &.change {
                        fill: $color2;
                      }

                      &.changeStroke {
                        stroke: $color2;
                      }
                    }
                  }
                }

                svg {
                  margin-right: 1rem;

                  path {
                    transition: $transition;
                  }

                  &.larger {
                    width: 22px;
                    height: 24px;
                    transform: translateX(-2px);
                  }
                }

                span {
                  font-weight: 600 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.profs {
  position: relative;

  &::after {
    content: "";
    width: $col-vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: $white;
    z-index: 99;

    @include breakpoint($tablet-break) {
      display: none;
    }
  }

  .lb-col-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      margin-bottom: 2rem;
    }

    .btn {
      align-self: flex-end;
      margin-right: 0.5rem;
    }
  }

  .slick-slider {
    width: 100%;
    position: relative;

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.slick-next {
        right: 0;
      }

      &.slick-prev {
        left: 0;
      }
    }

    .slick-list {
      width: 100%;
    }
  }

  .stable_professors {
    .stable_professors-inner {
      width: $col-vw * 11.5;

      opacity: 0;
      visibility: hidden;

      &.slick-initialized {
        visibility: visible;
        opacity: 1;
      }

      @include breakpoint($mobile-break) {
        width: $col-vw * 15.5;
      }

      &::after {
        content: "";
        width: $col-vw;
        height: 100%;
        position: absolute;
        right: $col-vw / 2;
        top: 0;
        background: $white;
        z-index: 99;
        display: none;

        @include breakpoint($tablet-break) {
          display: block;
        }

        @include breakpoint($mobile-break) {
          display: none;
        }
      }

      .slick-arrow {
        z-index: 999;
        line-height: 0;
        cursor: pointer;
        box-shadow: 0 3px 6px transparentize($black, 0.92) !important;

        &.slick-prev {
          @include breakpoint($tablet-break) {
            left: -25px;
          }

          @include breakpoint($mobile-break) {
            left: 0;
          }
        }

        &.slick-next {
          right: calc(#{$col-vw * 1.5} + 55px);

          @include breakpoint($tablet-break) {
            right: calc(#{$col-vw * 1});
          }

          @include breakpoint($mobile-break) {
            right: calc(#{$col-vw * 5.5});
          }
        }

        img {
          @include breakpoint($mobile-break) {
            width: 40px;
          }
        }
      }

      .professor {
        width: $col-vw * 2;
        padding-right: 2rem;
        box-sizing: border-box;

        @include breakpoint($mobile-break) {
          padding-right: 1rem;
        }

        .professor-inner {
          display: flex;
          flex-direction: column;

          &:hover {
            .info {
              h4 {
                color: $color2;
              }
            }
          }

          .img {
            position: relative;
            width: 100%;
            padding-bottom: 85%;

            .img-innner {
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              @include bg-cc;
              background-size: contain !important;
              background-repeat: no-repeat;
            }
          }

          .info {
            margin-top: 1.5rem;

            h4 {
              color: $header-gray;
              transition: $transition;
              font-weight: 700 !important;
              margin-bottom: 0.5rem;
              @include font-size(18px, 18px, 16px, 16px); // // Matt laptop
              // @include breakpoint(1700px) {
              //     font-size: 17px;
              // }
              // @include breakpoint($laptop-break) {
              //     font-size: 17px;
              // }
              // @include breakpoint($tablet-break) {
              //     font-size: 15px;
              // }
            }

            .role-faculty {
              line-height: 1.25em;

              span {
                margin-right: 0.75rem;
                padding-right: 0.75rem;
                position: relative;

                &.role {
                  display: none;
                }

                &::after {
                  content: "";
                  width: 1px;
                  height: 100%;
                  background: $color-p;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%);
                }

                &:last-child {
                  padding-right: 0;
                  margin-right: 0;

                  &::after {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.news-calendar {
  .tabs {
    width: 100%;
    box-sizing: border-box;

    .tabs-nav {
      margin-bottom: 2rem;

      @include breakpoint($mobile-break) {
        overflow-x: scroll;
      }

      .tabs-nav-inner {
        display: flex;
        align-items: center;

        @include breakpoint($mobile-break) {
          width: auto;
        }

        a {
          font: $h2;
          font-size: 2em;
          color: transparentize($color1, 0.5);
          padding-right: 2rem;
          margin-right: 2rem;
          position: relative;
          transition: $transition;

          @include breakpoint($tablet-break) {
            font-size: 1.125rem !important;
            padding-right: 1rem;
            margin-right: 1rem;
          }

          @include breakpoint($mobile-break) {
            white-space: nowrap;
          }

          &::after {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            background: $color2;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          &:last-child {
            padding-right: 0;
            margin-right: 0;

            &::after {
              display: none;
            }
          }

          &:hover,
          &.active {
            color: $color1;
          }
        }
      }
    }

    .tab-bodies {
      width: 100%;
      box-sizing: border-box;

      .tab-body {
        width: 100%;
        box-sizing: border-box;
        display: none;

        &.active {
          display: block;
          animation: lb-fade-in 0.5s;
          animation-fill-mode: forwards;

          @at-root {
            @keyframes lb-fade-in {
              from {
                transform: translateY(10px);
                opacity: 0;
              }

              to {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
        }

        .tab-body-inner {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          @include breakpoint($mobile-break) {
            align-items: flex-start;
          }

          > .btn {
            margin-top: 2rem;
          }
        }

        .deans-wrapper,
        .news-wrapper {
          display: flex;
          width: 100%;

          @include breakpoint($tablet-break) {
            flex-wrap: wrap;
          }

          .first-col {
            width: 50%;
            padding-right: $col-vw / 4;
            border-right: 1px solid $color2;

            @include breakpoint($laptop-break) {
              width: 65%;
            }

            @include breakpoint($tablet-break) {
              width: 100%;
              border-right: 0;
              border-bottom: 1px solid $color2;
              padding-bottom: $col-vw;
              margin-bottom: $col-vw;
            }

            @include breakpoint($mobile-break) {
              border-bottom: 0;
              padding-bottom: 0;
              margin-bottom: 0;
            }

            article {
              margin-bottom: 2rem;

              &:first-child {
                @include breakpoint($mobile-break) {
                  border-bottom: 1px solid $color2;
                  padding-bottom: $col-vw;
                  margin-bottom: $col-vw;
                }
              }

              &:last-child {
                margin-bottom: 0;

                @include breakpoint($mobile-break) {
                  margin-bottom: 2rem;

                  .img {
                    display: none;
                  }

                  .info {
                    width: 100%;
                  }
                }
              }

              > div {
                display: flex;
                align-items: flex-start;

                @include breakpoint($mobile-break) {
                  flex-wrap: wrap;
                }

                .img {
                  width: $col-vw * 2;
                  position: relative;
                  padding-bottom: $col-vw * 1.125;

                  @include breakpoint($laptop-break) {
                    width: 50%;
                    padding-bottom: $col-vw * 1.725;
                  }

                  @include breakpoint($tablet-break) {
                    padding-bottom: $col-vw * 2.7;
                  }

                  @include breakpoint($mobile-break) {
                    width: 100%;
                    padding-bottom: $col-vw * 5.5;
                    margin-bottom: 1rem;
                  }

                  .img-inner {
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    @include bg-cc;
                  }

                  &:hover {
                    & + .info {
                      a {
                        h4 {
                          color: $color2;
                        }
                      }
                    }
                  }
                }

                .info {
                  width: calc(100% - #{$col-vw * 2});
                  padding-left: $col-vw / 4;
                  padding-top: 1rem;

                  @include breakpoint($laptop-break) {
                    width: 50%;
                  }

                  @include breakpoint($tablet-break) {
                    padding-left: $col-vw / 2;
                  }

                  @include breakpoint($mobile-break) {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 0;
                  }

                  a {
                    &:hover {
                      h4 {
                        color: $color2;
                      }
                    }

                    h4 {
                      transition: $transition;
                      @include font-size(18px, 18px, 16px, 16px);
                      line-height: 1.5em;
                    }
                  }

                  .date-cat {
                    // margin-bottom: 0.75rem;
                    color: #525252;

                    span {
                      &::after {
                        content: "|";
                        display: inline-block;
                        margin: 0 0.25em;
                      }

                      &:last-child {
                        &::after {
                          display: none;
                        }
                      }

                      a {
                        color: #525252;
                        transition: $transition;

                        &:hover {
                          color: $black;
                        }
                      }
                    }
                  }

                  .name {
                    color: $header-gray;
                    font-weight: 700 !important;
                  }

                  .date-cat {
                    margin-top: 0.75rem;
                  }
                }
              }
            }
          }

          .second-col {
            width: 50%;
            padding-top: 1rem;
            padding-left: $col-vw / 4;

            @include breakpoint($laptop-break) {
              width: 35%;
            }

            @include breakpoint($tablet-break) {
              width: 100%;
              padding-top: 0;
              padding-left: 0;
              display: flex;
              flex-wrap: wrap;
            }

            article {
              margin-bottom: 1.5rem;
              box-sizing: border-box;

              &:last-child {
                margin-bottom: 0;
              }

              &:nth-last-child(-n + 2) {
                @include breakpoint($laptop-break) {
                  display: none;
                }

                @include breakpoint($mobile-break) {
                  display: none !important;
                }
              }

              @include breakpoint($tablet-break) {
                width: 50%;
                padding-right: $col-vw / 4;

                &:nth-last-child(2) {
                  display: block;
                }
              }

              @include breakpoint($mobile-break) {
                width: 100%;
                padding-right: 0;
              }

              > div {
                .img {
                  display: none;
                }

                .info {
                  a {
                    &:hover {
                      h4 {
                        color: $color2;
                      }
                    }

                    h4 {
                      transition: $transition;
                      @include font-size(18px, 18px, 16px, 16px);
                      line-height: 1.5em;
                    }
                  }

                  .date-cat {
                    // margin-bottom: 0.15rem;
                    color: #525252;

                    span {
                      &::after {
                        content: "|";
                        display: inline-block;
                        margin: 0 0.25em;
                      }

                      &:last-child {
                        &::after {
                          display: none;
                        }
                      }

                      a {
                        color: #525252;
                        transition: $transition;

                        &:hover {
                          color: $black;
                        }
                      }
                    }
                  }

                  .name {
                    color: $header-gray;
                    font-weight: 700 !important;
                  }

                  .date-cat {
                    margin-top: 0.75rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.library {
  .lb-row-inner {
    align-items: center;

    .lb-col {
      &:nth-child(1) {
        .lb-col-inner {
          display: none;

          @include breakpoint($laptop-break) {
            display: block;
          }

          h2 {
            margin-bottom: 3rem;

            @include breakpoint($tablet-break) {
              margin-bottom: 2rem;
            }
          }

          h3,
          h4,
          p,
          .link-wrapper,
          .list-wrapper {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        padding-right: $col-vw;

        @include breakpoint($laptop-break) {
          padding-right: $col-vw / 2;
        }

        @include breakpoint($tablet-break) {
          padding-right: 0;
        }

        h2 {
          @include breakpoint($laptop-break) {
            display: none;
          }
        }

        h3 {
          margin-top: 2rem;
          font-family: $secondary !important;
          @include font-size(21px, 18px, 18px, 16px);
          font-weight: 700 !important;

          @include breakpoint($mobile-break) {
            margin-top: 1.5rem;
          }
        }

        .list-wrapper {
          padding: 0;
          margin: 0;
          margin-top: 2rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1em;

          @include breakpoint($mobile-break) {
            grid-template-columns: 1fr;
            margin-top: 1.5rem;
          }

          li {
            list-style: none;
            font-weight: 700 !important;
            color: $color1;
            display: flex;
            align-items: flex-start;

            img {
              min-width: 1.15rem;
              width: 1.15rem;
              height: 1.15rem;
              margin-right: 1rem;
              padding-top: 0.25rem;
            }
          }
        }

        h4 {
          font-weight: 600 !important;
          margin-top: 2rem;
          line-height: 1.417em !important;
          color: #525252;
          margin-bottom: 2rem;

          @include breakpoint($laptop-break) {
            margin-top: 0;
            font-size: 18px !important;
          }

          @include breakpoint($tablet-break) {
            font-size: 18px !important;
          }

          @include breakpoint($mobile-break) {
            font-size: 16px !important;
          }
        }

        .link-wrapper {
          margin-top: 1rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          @include breakpoint($mobile-break) {
            margin-top: 1rem;
            flex-wrap: wrap;
          }

          a {
            margin-top: 1rem;
            margin-right: 1.5rem;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      &:nth-child(3) {
        @include breakpoint($tablet-break) {
          padding-top: $col-vw/2;
        }

        @include breakpoint($mobile-break) {
          padding-top: $col-vw * 0.75;
        }
      }
    }
  }
}

.lb-row.about {
  background: $color3;

  @include breakpoint($laptop-break) {
    padding: $col-vw !important;
  }

  @include breakpoint($mobile-break) {
    padding-right: calc(#{$col-vw} - 15px) !important;
    padding-left: calc(#{$col-vw} - 15px) !important;
  }

  .tabs {
    display: none;
    margin-bottom: 2rem;

    @include breakpoint($laptop-break) {
      display: block;
    }

    .tabs-inner {
      display: flex;

      a {
        margin-right: 1rem;
        padding-right: 1rem;
        position: relative;
        transition: $transition;

        &:not(.active) {
          opacity: 0.5;
        }

        &:hover {
          opacity: 1;
        }

        &::after {
          content: "";
          width: 1px;
          height: 100%;
          background: $color2;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-child {
          margin-right: 0;
          padding-right: 0;

          &::after {
            display: none;
          }
        }

        h4 {
          font-family: $primary !important;
        }
      }
    }
  }

  .lb-row-inner {
    align-items: stretch;

    @include breakpoint($laptop-break) {
      flex-wrap: wrap;
    }

    .lb-col {
      // padding: ($col-vw * 0.668) ($col-vw * 0.75);
      padding: ($col-vw * 0.668) ($col-vw * 0.5);
      border-right: 1px solid $color2;

      @include breakpoint($laptop-break) {
        width: 100%;
        box-sizing: border-box;
        display: none;
        padding: 0;
        border-right: 0;

        &.active {
          display: block;
          animation: lb-fade-in 0.5s;
          animation-fill-mode: forwards;

          @at-root {
            @keyframes lb-fade-in {
              from {
                transform: translateY(10px);
                opacity: 0;
              }

              to {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
        }
      }

      &:last-child {
        border-right: 0;

        p {
          padding-right: 1.75rem;

          @include breakpoint($tablet-break) {
            padding-right: 0;
          }
        }
      }

      .lb-col-inner {
        .title {
          height: auto;
          margin-bottom: 2rem;

          @include breakpoint($laptop-break) {
            display: none;
          }
        }

        .info {
          @include breakpoint($laptop-break) {
            padding-right: $col-vw * 4;
          }

          @include breakpoint($tablet-break) {
            padding-right: $col-vw * 1.5;
          }

          @include breakpoint($mobile-break) {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.publications {
  .lb-row-inner {
    justify-content: flex-end;

    @include breakpoint($mobile-break) {
      justify-content: flex-start;
    }

    > .btn {
      margin-right: $col-vw * 1.5;

      @include breakpoint($tablet-break) {
        margin-right: $col-vw;
      }

      @include breakpoint($mobile-break) {
        margin-right: 0;
        margin-left: $col-vw;
      }
    }

    .lb-col {
      h3 {
        margin-bottom: 2rem;

        @include breakpoint($mobile-break) {
          margin-bottom: 1.5rem;
        }
      }

      &:nth-child(1) {
        padding-left: $col-vw;

        @include breakpoint($laptop-break) {
          width: calc(#{$col * 5});
        }

        @include breakpoint($tablet-break) {
          padding-right: $col-vw;
          padding-bottom: $col-vw;
        }

        @include breakpoint($mobile-break) {
          padding-right: calc(#{$col-vw} - 15px);
          padding-left: calc(#{$col-vw} - 15px);
        }

        .featured-publication {
          padding-right: $col-vw / 2;

          .featured-publication-inner {
            display: inline-block;
            width: auto;

            &:hover {
              .info {
                .title {
                  color: $color2;
                }
              }
            }

            @include breakpoint($tablet-break) {
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }

            @include breakpoint($mobile-break) {
              flex-direction: column;
            }

            .img {
              position: relative;
              width: 100%;
              padding-bottom: $col-vw * 2;

              @include breakpoint($tablet-break) {
                width: $col-vw * 4;
                padding-bottom: $col-vw * 5;
              }

              @include breakpoint($mobile-break) {
                width: $col-vw * 5;
                padding-bottom: $col-vw * 7;
              }

              .img-inner {
                position: absolute;
                width: 100%;
                height: 100%;
                max-width: $col-vw * 1.5;
                @include bg-cc;

                @include breakpoint($tablet-break) {
                  max-width: 100%;
                }
              }
            }

            .info {
              margin-top: 1rem;

              @include breakpoint($tablet-break) {
                width: calc(100% - #{$col-vw * 4});
                padding-left: $col-vw / 4;
                padding-right: 0;
              }

              @include breakpoint($mobile-break) {
                width: 100%;
                padding: 0;
              }

              .title {
                font-weight: 700;
                height: auto;
                padding: 0 !important;
                transition: $transition;
                @include font-size(18px, 18px, 16px, 15px);
                margin-bottom: 0.75rem;
                color: $header-gray;
              }

              .subtitle {
                margin-bottom: 0.15rem;
              }

              .date {
                // opacity: 0.5;
                // margin-bottom: 0.5rem;
                margin-top: 0.75rem;
                color: #525252;

                @include breakpoint($mobile-break) {
                  font-size: 14px !important;
                }
              }

              .subtitle {
                // margin-top: 1rem;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        padding-left: $col-vw;
        padding-right: $col-vw * 1.5;
        position: relative;

        @include breakpoint($laptop-break) {
          width: calc(#{$col * 7});
        }

        @include breakpoint($tablet-break) {
          padding-left: $col-vw;
        }

        @include breakpoint($mobile-break) {
          padding-right: calc(#{$col-vw} - 15px);
          padding-left: calc(#{$col-vw} - 15px);
        }

        &::before {
          content: "";
          width: 1px;
          height: 90%;
          background: $color2;
          position: absolute;
          left: 0;
          bottom: 0; // top: 50%;
          // transform: translateY(-50%);
          @include breakpoint($tablet-break) {
            display: none;
          }
        }

        .pub-note {
          // margin-top: 2rem;
          // font-size: 0.8rem !important; // padding: 1rem;
          // border: 1px solid $gray;
        } // >p {
        //     margin-bottom: 3rem;
        //     @include breakpoint($mobile-break) {
        //         margin-bottom: 2rem;
        //     }
        // }
        .publications-inner {
          @include breakpoint($tablet-break) {
            display: flex;
          }

          @include breakpoint($mobile-break) {
            flex-wrap: wrap;
          }

          .publication {
            margin-bottom: 2rem;

            &:first-child {
              margin-top: 2rem;
            }

            &:last-child {
              margin-bottom: 0;
            }

            @include breakpoint($tablet-break) {
              width: 50%;
              margin-top: 2rem;

              &:nth-child(odd) {
                padding-right: $col-vw / 2;
              }

              &:nth-child(even) {
                padding-left: $col-vw / 2;
              }
            }

            @include breakpoint($mobile-break) {
              margin-top: 0;

              &:first-child {
                margin-top: 1.5rem;
              }

              width: 100%;
              margin-bottom: 1.5rem;

              &:nth-child(odd) {
                padding-right: 0;
              }

              &:nth-child(even) {
                padding-left: 0;
              }
            }

            .publication-inner {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              @include breakpoint($tablet-break) {
                flex-wrap: wrap;
              }

              &:hover {
                .info {
                  .name {
                    color: $color2;
                  }
                }
              }

              .img {
                width: $col-vw * 1;
                position: relative;
                padding-bottom: $col-vw * 1.3333333;

                @include breakpoint($tablet-break) {
                  width: 100%;
                  padding-bottom: $col-vw * 3.25;
                  margin-bottom: 2rem;
                }

                @include breakpoint($mobile-break) {
                  display: none;
                }

                .img-inner {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  max-width: $col-vw;
                  @include bg-cc;

                  @include breakpoint($tablet-break) {
                    max-width: 55%;
                  }
                }
              }

              .info {
                width: calc(100% - #{$col-vw});
                padding-left: $col-vw / 3;

                @include breakpoint($tablet-break) {
                  width: 100%;
                  padding-left: 0;
                }

                .name {
                  font-weight: 700;
                  transition: $transition;
                  @include font-size(18px, 18px, 16px, 15px);
                  margin-bottom: 0.75rem !important;
                  color: $header-gray;
                }

                .subtitle {
                  margin-bottom: 0.15rem;
                }

                .author {
                  margin-bottom: 0.15rem;
                }

                .date {
                  // opacity: 0.5;
                  // margin-bottom: 0.5rem;
                  margin-top: 0.75rem;
                  color: #525252;

                  @include breakpoint($mobile-break) {
                    font-size: 14px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.venue {
  background: $color3;

  .lb-row-inner {
    align-items: center;
    .lb-col {
      &:nth-child(1) {
        padding-right: $col-vw;

        @include breakpoint($laptop-break) {
          padding-right: $col-vw / 2;
        }

        @include breakpoint($tablet-break) {
          padding-right: 0;
          padding-bottom: $col-vw;
        }

        @include breakpoint($mobile-break) {
          padding-bottom: 2rem;
        }

        h3 {
          margin-bottom: 2rem;

          @include breakpoint($mobile-break) {
            margin-bottom: 1.5rem;
          }
        }

        @include fancy-list;

        h4 {
          font-weight: 600 !important;
          margin-top: 3rem;
          margin-bottom: 2rem;

          @include breakpoint($mobile-break) {
            margin-top: 2rem;
            margin-bottom: 1.5rem;
          }
        }

        ul {
          display: flex;
          max-width: 25rem;
          flex-wrap: wrap;

          @include breakpoint($mobile-break) {
            max-width: 100%;
          }

          li {
            flex-basis: 50%;
          }
        }

        .btn {
          @include breakpoint($mobile-break) {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        .slick-slider {
          width: 100%;
          position: relative;

          .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
            cursor: pointer;
            transition: $transition;

            &.slick-next {
              right: -25px;

              &:hover {
                transform: translateY(-50%) translateX(0.5rem);
              }
            }

            &.slick-prev {
              left: 0;
              display: none !important;
            }
          }

          .slick-list {
            width: 100%;

            .image {
              position: relative;
              width: 100%;
              padding-bottom: 56.6235%;

              .image-inner {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                @include bg-cc;
              }
            }
          }
        }

        .btn {
          display: none;

          @include breakpoint($mobile-break) {
            display: inline-block;
          }
        }
      }
    }
  }
}

.lb-row.alumni {
  @include breakpoint($tablet-break) {
    padding-left: ($col-vw / 2) !important;
    padding-right: ($col-vw / 2) !important;
  }

  @include breakpoint($mobile-break) {
    padding-right: calc(#{$col-vw} - 15px) !important;
    padding-left: calc(#{$col-vw} - 15px) !important;
  }

  .lb-row-inner {
    .lb-col {
      .lb-col-inner {
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 2rem;
          letter-spacing: 0 !important;

          @include breakpoint($tablet-break) {
            padding: 0 ($col-vw / 2);
          }

          @include breakpoint($mobile-break) {
            padding: 0;
          }
        }

        > p {
          max-width: $col-vw * 4;

          @include breakpoint($laptop-break) {
            max-width: $col-vw * 8;
          }

          @include breakpoint($tablet-break) {
            max-width: 100%;
            padding: 0 ($col-vw / 2);
          }

          @include breakpoint($mobile-break) {
            padding: 0;
          }
        }

        .btn {
          align-self: flex-end;

          @include breakpoint($mobile-break) {
            align-self: flex-start;
          }
        }

        .alumnis {
          margin-top: 3.5rem;

          @include breakpoint($tablet-break) {
            margin-top: 2.5rem;
          }

          .alumnis-inner {
            display: flex;
            justify-content: space-between;

            .slick-arrow {
              position: absolute;
              top: calc(#{$col-vw * 2.5 / 4} + 25px);
              z-index: 99;
              cursor: pointer;
              transition: $transition;

              @include breakpoint($mobile-break) {
                top: calc(#{$col-vw * 2.5 / 2} + 25px);
              }

              &.slick-next {
                right: 0;

                &:hover {
                  transform: translateX(0.5rem);
                }
              }

              &.slick-prev {
                left: 0;
                display: none !important;
              }
            }

            .alumni {
              width: calc(100% / 3 - #{$col-vw});

              @include breakpoint($laptop-break) {
                width: calc(100% / 3 - #{$col-vw / 4});
              } // &.bartholomew-i {
              //     .info {
              //         margin-top: 2.18rem;
              //         @include breakpoint($tablet-break $laptop-break) {
              //             margin-top: 21.25px;
              //         }
              //         @include breakpoint($tablet-break) {
              //             margin-top: 0;
              //         }
              //         @include breakpoint(770px) {
              //             margin-top: 18.75px;
              //         }
              //         @include breakpoint($mobile-break) {
              //             marign-top: 0;
              //         }
              //     }
              // }
              // &.his-beatitude-gregory-iii-laham {
              //     .info {
              //         @include breakpoint(1104px $laptop-break) {
              //             margin-top: 21.25px;
              //         }
              //         @include breakpoint(770px) {
              //             margin-top: 18.75px;
              //         }
              //         @include breakpoint(630px) {
              //             margin-top: 0px;
              //         }
              //     }
              //     .btn-2 {}
              // }
              .alumni-inner {
                @include breakpoint($tablet-break) {
                  padding: 0 ($col-vw / 2);
                }

                @include breakpoint($mobile-break) {
                  padding: 0;
                }

                .img {
                  position: relative;
                  width: 100%;
                  padding-bottom: 56.625%;

                  .img-inner {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    @include bg-cc;

                    @include breakpoint($mobile-break) {
                      width: 95%;
                    }
                  }
                }

                .info {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-end;

                  .name {
                    width: 100%;
                    margin-top: 1.25rem;
                    font-weight: 700 !important;
                    color: $header-gray;
                    @include font-size(
                      18px,
                      18px,
                      16px,
                      16px
                    ); // @include breakpoint($laptop-break) {
                    //     font-size: 17px !important;
                    // }
                    // @include breakpoint($tablet-break) {
                    //     font-size: 15px !important;
                    // }
                  }

                  .role {
                    width: 100%;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                  }

                  .text {
                    display: none;
                  }

                  .btn-2 {
                    // margin-top: 1.5rem;
                    text-transform: uppercase;

                    &.active {
                      margin-top: 1.5rem;
                    }

                    &::after {
                      transition: $transition;
                      transform-origin: center center;
                    }

                    &.active {
                      &::after {
                        transform: translateY(-50%) rotate(90deg);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.support {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; // background: transparentize($color3, 0.13);
    left: 0;
    top: 0;
  }

  .lb-row-inner {
    .lb-col {
      &:nth-child(1) {
        h3 {
          margin-bottom: 2rem;
          letter-spacing: initial !important;
        }
      }

      &:nth-child(2) {
        p {
          max-width: $col-vw * 3.5;

          @include breakpoint($laptop-break) {
            max-width: 100%;
          }
        }

        .btn {
          @include breakpoint($tablet-break) {
            display: none;
          }
        }
      }

      &:nth-child(3) {
        padding-left: $col-vw / 4;
        @include fancy-list;

        @include breakpoint($laptop-break) {
          padding-left: $col-vw;
        }

        @include breakpoint($tablet-break) {
          padding-left: 0;
          margin-top: 2rem;
        }

        .btn {
          display: none;

          @include breakpoint($tablet-break) {
            display: inline-block;
          }
        }
      }
    }
  }
}

.subscribe {
  padding-left: $col-vw * 4;
  padding-right: $col-vw * 4;

  @include breakpoint($laptop-break) {
    padding-left: $col-vw * 2.5;
    padding-right: $col-vw * 2.5;
  }

  @include breakpoint($tablet-break) {
    padding-left: $col-vw;
    padding-right: $col-vw;
  }

  @include breakpoint($mobile-break) {
    padding-top: $col-vw * 2 !important;
    padding-bottom: $col-vw * 2 !important;
    padding-right: calc(#{$col-vw} - 15px) !important;
    padding-left: calc(#{$col-vw} - 15px) !important;
  }

  .gform_wrapper {
    margin: 0 !important;
    padding: 0 !important;

    .gform_heading {
      .gform_title {
        margin-top: 0 !important;
        font: $h4;
        @include font-size(32px, 32px, 32px, 30px);
        font-family: $primary !important;
      }
    }

    .gform_body {
      ul {
        li {
          > label {
            display: none;
          }

          input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
            border: none;
            border-bottom: 1px solid $color2;

            @include breakpoint($mobile-break) {
              padding: 0.5rem 0 !important;
            }
          }

          // .gfield_radio,
          .gfield_checkbox {
            li {
              input {
                display: none;

                &:checked {
                  + label {
                    &::before {
                      background-color: $color2;
                    }
                  }
                }
              }

              label {
                display: block;
                position: relative;
                padding-left: 2rem;
                margin-right: 0;
                font: $body-font;
                font-weight: 400 !important;
                color: $black;

                a {
                  font-weight: 700 !important;
                  color: $black;
                  transition: $transition;

                  &:hover {
                    color: $color2;
                  }
                }

                &::before {
                  background: $white;
                  border: 2px solid $color2;
                  transition: background $transition;
                }
              }
            }
          }

          .gfield_radio {
            li {
              label {
                &::before,
                &::after {
                  border-radius: 100%;
                }
              }
            }
          }
        }
      }
    }

    .gform_footer {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;

      .gform_button {
        margin-bottom: 0 !important;
        @include btn;
        box-sizing: content-box !important;
        height: auto !important;
      }
    }
  }
}

#academic-calendar {
  .pre {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 1rem;

    @include breakpoint($mobile-break) {
      display: block;
    }

    > h4 {
      text-transform: uppercase;
      color: $header-gray;
      font-weight: 700;
      font-size: 1.2rem;
    }

    a {
      display: flex;
      align-items: center;

      @include breakpoint($mobile-break) {
        margin-top: 2rem;
        float: right;
      }

      &:hover {
        h4 {
          color: $color1;
        }

        svg {
          path {
            fill: $color1;
          }
        }
      }

      svg {
        path {
          transition: $transition;
        }
      }

      h4 {
        transition: $transition;
        color: $color2;
        font-weight: 700;
        font-size: 1rem;
        margin-left: 1rem;
      }
    }
  }

  .events-list {
    width: 100%;
    .tribe-common .tribe-common-c-svgicon {
      color: $color1;
    }
    header.tribe-events-widget-events-list__header {
      margin: 0;
    }
    .tribe-events-widget-events-list__events {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: $col-vw * 1.75;

      @include breakpoint($tablet-break) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $col-vw;
      }

      @include breakpoint($mobile-break) {
        grid-template-columns: 100%;
      }

      .list-info {
        width: 100%;
        margin-top: 0;
      }

      .type-tribe_events {
        @include breakpoint($mobile-break) {
          &:nth-last-child(3),
          &:nth-last-child(4) {
            display: none;
          }
        }
      }

      .tribe-events-widget-events-list__event-row {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 2rem;
        margin-bottom: 3rem;

        &:after {
          position: absolute;
          height: 1px;
          width: 50%;
          background-color: $color1;
          content: "";
          bottom: 0;
        }

        .tribe-events-widget-events-list__event-date-tag-datetime {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 1rem;
        }
        .tribe-events-widget-events-list__event-header {
          display: flex;
          flex-direction: column-reverse;
          position: relative !important;
        }
      }

      .lb-list-date,
      .tribe-events-widget-events-list__event-date-tag-datetime {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;

        @include breakpoint($mobile-break) {
          margin-bottom: 0.5rem;
        }

        .list-dayname,
        .tribe-events-widget-events-list__event-date-tag-month {
          text-transform: uppercase;
          border-bottom: 2px solid $color2;
          color: $color1;
          font-weight: 700;
          font-size: 0.9rem;
          line-height: 1.3rem;
          transform: translateY(1px);
          font-family: $secondary;
        }

        .list-daynumber,
        .tribe-events-widget-events-list__event-date-tag-daynum {
          font-size: 2.5rem;
          font-weight: 700;
          color: $color1;
          margin-left: 10px;
          font-family: $secondary;
          margin-bottom: 0;

          @include breakpoint($mobile-break) {
            font-size: 35px;
          }
        }
      }

      .tribe-events-title,
      .tribe-events-widget-events-list__event-title {
        margin-bottom: 0.5rem;

        > a {
          font-family: $secondary, $sans-serif;
          letter-spacing: 0px;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.5em;
          border-bottom: none;
          color: $color1;
          transition: $transition;

          &:hover {
            color: $color2;
          }

          @include breakpoint($mobile-break) {
            font-size: 18px;
          }
        }
      }

      .tribe-event-image {
        display: none !important;
      }

      .tribe-events-venue,
      .tribe-events-duration,
      .tribe-events-widget-events-list__event-datetime {
        font-size: 1rem;
        text-transform: uppercase;
        color: #383838;
      }

      .tribe-mini-calendar-event {
        border-bottom: 0;
      }

      .lb_divider {
        display: block;
        width: 50%;
        margin-top: 2rem;
        margin-bottom: 3rem;
        height: 1px;
        background-color: $color2;

        @include breakpoint($tablet-break) {
          width: 75%;
        }

        @include breakpoint($mobile-break) {
          width: 50%;
          margin-bottom: 1rem;
          margin-top: 1rem;
        }
      }
    }
  }

  .tribe-events-widget-link,
  .tribe-events-widget-events-list__view-more-link {
    display: none;
  }

  .lb_events_more {
    width: 25%;
    float: right;
    text-align: right;
    padding-top: 1rem;
    border-top: 1px solid $color2;

    a {
      text-transform: uppercase;
      font-weight: 700;
      transition: $transition;
    }
  }
}

ul.iss_results {
  display: none !important;
}
