/******************************************************************

Stylesheet: News

Styles for News page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.overlapbox-wrapper {
  .overlapbox {
    box-shadow: 0 3px 6px transparentize($black, 0.92) !important;

    @include breakpoint($mobile-break) {
      box-shadow: none !important;
    }
    h5 {
      @include breakpoint($mobile-break) {
        line-height: 2em;
        text-align: left !important;
      }
      a {
        box-shadow: none !important;
        border-right: 1px solid $color2 !important;
        width: auto;

        &:last-child {
          border-right: none !important;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}

.vc_row:not(.overlapbox-wrapper) h1 {
  margin-top: $col-vw/2;
}

&.archive {
  h1 {
    padding-top: $col-vw / 2;
    font: $h1;
  }
}

.content {
  .content_inner {
    .full_width {
      .full_width_inner {
        .vc_row {
          &:last-of-type {
            padding-bottom: $col-vw / 2;
          }
        }
      }
    }
  }
  .container_inner {
    &.default_template_holder {
      &.clearfix {
        padding: $col-vw/2 0 !important;
        &.page_container_inner {
          padding: $col-vw/2 0 !important;

          @include breakpoint($mobile-break) {
            // padding: $col-vw/2 0 $col-vw !important;
          }
        }
      }
    }
  }
}

.separator.small.left,
.dots,
.post_comments,
.title_outer.title_without_animation.title_text_shadow.with_image {
  display: none;
}

.grid_section {
  &:not(.overlapbox-wrapper) {
    @include breakpoint($tablet-break) {
      margin: 0 calc(#{$col-vw} - 15px);
    } // @include breakpoint ($mobile-break) {
    //   padding: 0 30px;
    // }
    // @include breakpoint ($mobile-break-sml) {
    //   .vc_column-inner {
    //     padding: 0;
    //   }
    // }
    // .wpb_wrapper {
    //   display: flex; // justify-content: center;
    //   justify-content: flex-start;
    // }
    .latest_post_holder {
      ul {
        margin: 0 !important;
        display: flex;
        justify-content: center;

        li {
          transition: $transition;
          box-sizing: border-box;
          padding: 0;
          margin: 0.5%;
          @include breakpoint($tablet-break) {
            margin: 1%;
          }
          @include breakpoint($mobile-break) {
            margin: 1% 0;
          }

          @include breakpoint($mobile-break) {
            // margin: 5% 1% !important;
            margin: 0 0 $col-vw / 2 0 !important;
          }

          &:hover {
            box-shadow: 0 6px 10px transparentize($black, 0.84) !important;
          }

          .latest_post {
            position: relative;
            padding: 6%;
            width: 100%;
            box-sizing: border-box;
          }

          img {
            max-height: 50vh;
            object-fit: cover;
          }

          // .latest_post_text_inner {
          // display: flex; // flex-direction: column-reverse;
          // }

          // > a {
          //   display: block;

          //   &:hover {
          //     h5 {
          //       a {
          //         color: $color2 !important;
          //       }
          //     }
          //   }
          // }

          .latest_post_title a {
            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              z-index: 0;
            }
            &:hover {
              color: $color2 !important;
            }
          }

          .post_infos a {
            position: relative;
            z-index: 1;
          }

          .latest_post_two_excerpt {
            display: none !important;
          }

          .post_infos {
            margin-top: 0.5rem;

            display: flex;
            align-items: center;

            a {
              transition: $transition;
              margin: 0;
              color: $header-gray;
              &:before {
                content: "|";
                padding: 0 0.5em;
                color: $color2 !important;
              }
              &:hover {
                color: $black !important;
              }

              &:nth-of-type(1n + 2) {
                display: none !important;
              }
            }
          }

          .date,
          .entry_date {
            color: $light-gray !important; // font-family: $secondary !important; // font-size: !important;
            font-weight: normal;
          }
        }
      }
    }

    &.vc_row {
      .vc_col-sm-12 {
        .latest_post_holder {
          ul {
            li {
              width: 100% !important;
              padding: 0;

              h2 {
                a {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  letter-spacing: 0;
                  font-size: 2.5rem;
                  color: $header-gray;
                  @include breakpoint($laptop-break) {
                    font-size: 2.25rem;
                  }
                  @include breakpoint($tablet-break) {
                    // font-size: 2rem;
                    font-size: 1.5rem;
                    line-height: normal;
                  }
                  @include breakpoint($mobile-break) {
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
          .latest_post {
            display: flex;
            align-items: stretch;

            @include breakpoint($mobile-break) {
              flex-direction: column;
            }
            .latest_post_image,
            .latest_post_text {
              display: flex;
              flex-basis: 50%;
            }
            .latest_post_image {
              @include breakpoint($mobile-break) {
                width: 100%;
              }
            }
            .latest_post_text {
              padding: 0;
              .latest_post_inner {
                display: flex;
                .latest_post_text_inner {
                  padding: 6%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }

    .latest_post_holder {
      &.minimal {
        ul {
          flex-wrap: wrap;
          justify-content: space-between;

          li {
            width: 42%;
            margin: 1% !important;
            box-shadow: 0 3px 6px transparentize($black, 0.92) !important;

            &:hover {
              box-shadow: 0 6px 10px transparentize($black, 0.84) !important;
            }
            @include breakpoint($mobile-break) {
              // margin: 0.5rem 0 !important;
            }
            // padding: 3%;
            display: flex;

            @include breakpoint($mobile-break) {
              // margin: 5% 1% !important;
              margin: $col-vw / 4 0 !important;
            }
          }
        }
      }
      ul {
        li {
          // padding: 0 !important;
          width: 48% !important;

          @include breakpoint($mobile-break) {
            width: 100% !important;
          }

          .latest_post_two_excerpt {
            display: none !important;
          }

          // &:first-child {
          //   padding-top: 11px;
          // }

          // > a {
          //   // padding: 6%;
          //   width: 100%;

          //   &:hover {
          //     h5 {
          //       a {
          //         color: $color2;
          //       }
          //     }
          //   }
          // }
        }
      }
    }

    h5 {
      font-family: $primary !important;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      a {
        font-family: $secondary;
        letter-spacing: 0;
        color: $header-gray;
        font-weight: 700 !important;
        @include font-size(18px, 18px, 16px, 16px);
      }
    }
  }
}

.years-col {
  @include breakpoint($tablet-break) {
    margin: 1% !important;
  }
  @include breakpoint($mobile-break) {
    margin: 5% 1% 0 0 !important;
  }
  .years-col-inner {
    // margin-top: 20px;
    margin-top: $col-vw / 4;
    padding-left: $col-vw / 2;

    @include breakpoint($tablet-break) {
      padding-left: 0;
    }

    @include breakpoint($mobile-break) {
      margin-top: 0;
    }
    h2 {
      // margin-bottom: 1rem;
      margin-bottom: $col-vw / 4;
    }
  }
}

.grid_section:not(.overlapbox-wrapper) .vc_col-sm-4,
.grid_section:not(.overlapbox-wrapper) .vc_col-sm-2 {
  .wpb_text_column {
    width: 100%;
  }
}

.grid_section:not(.overlapbox-wrapper) .vc_col-sm-4,
.vc_col-sm-8:not(.overlapbox),
.grid_section:not(.overlapbox-wrapper) .vc_col-sm-2,
.vc_col-sm-10:not(.overlapbox) {
  @include breakpoint($tablet-break) {
    width: 100%;
  }
}

.vc_row:not(.overlapbox-wrapper) .vc_col-sm-8,
.vc_row:not(.overlapbox-wrapper) .vc_col-sm-10 {
  .wpb_wrapper {
    margin-top: $col-vw / 4;

    @include breakpoint($mobile-break) {
      margin-top: 0;
    }
    h2 {
      margin-bottom: $col-vw / 4;
      margin-left: 1%;
    }
  }
}

.vc_col-sm-12 {
  .wpb_content_element {
    h2 {
      padding: $col-vw / 4 0;
      margin: 0 1%;

      @include breakpoint($tablet-break) {
        margin: 0 calc(100vw / 12 + 1%);
      }
    }
  }
}

.years-wrapper {
  display: flex;
  flex-direction: column;

  a {
    margin-bottom: 0.25rem;
    transition: $transition;

    &:first-child {
      margin-top: 1%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
  .content_inner {
    // margin-top: 148px;
  }
}

&.overlapping_content {
  .content {
    .content_inner {
      > .container {
        > .overlapping_content {
          padding: 0 !important;
          width: 100%;
        }
      }
    }
  }
}

.boxed div.section .section_inner,
.carousel-inner .slider_content_outer,
.container_inner,
.full_width .parallax_content,
.steps_holder_inner,
div.grid_section:not(.overlapbox-wrapper) .section_inner,
nav.content_menu {
  @media only screen and (max-width: 1060px) and (min-width: 1000px) {
    width: 950px;
  }
  @media only screen and (max-width: 768px) and (min-width: 601px) {
    width: 650px;
  }
  @include breakpoint($tablet-break) {
    width: 100%;
  }
}
