/******************************************************************

Stylesheet: Article/Post template

Styles for post templates ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.title_outer {
  display: none;
}

.two_columns_75_25 {
  > .column2 {
    > .column_inner {
      padding-left: 40px;
      
      @include breakpoint($tablet-break) {
        padding: 0;
      }
    }
  }
  > .column1, > .column2 {
    @include breakpoint($tablet-break) {
      width: 100%;
    }
  }
}

.post_content_holder {
  .post_info {
    display: none;
  }
  .entry_title {
    font-family: $primary !important;
    @include font-size(32px, 32px, 32px, 32px);
    color: $header-gray;

    display: flex !important;
    flex-direction: column-reverse;
    
    .date {
      margin: 0 0 18px;
    }

    a {
      font-family: $primary !important;
      @include font-size(21px, 21px, 21px, 21px);
      color: $header-gray;

      &:hover {
        color: $color2;
      }
    }

    @include breakpoint ($mobile-break) {
      margin-bottom: 22px;
    }

    .date {
      font-family: $secondary !important;
      letter-spacing: normal;
      color: #383838 !important;
      @include font-size(16px, 16px, 15px, 15px);
    }
  }

  .qbutton {
    margin-left: 2px !important;
  }

  a {
    font-weight: 600;
    text-decoration: underline;
    transition: $transition;
  }

  h4 {
    @include font-size(21px, 21px, 21px, 21px);
    color: $header-gray;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  blockquote {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: $color2;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
    }

    p {
      @include font-size(18px, 18px, 18px, 18px);
      font-weight: 700;
    }
  }

  .share-block {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    padding: 20px;
    margin: 3rem 0 4rem;

    >div {
      &:first-of-type {
        display: flex;
      }
    }

    .blog_share {
      width: 100%;
      text-align: right;

      .social_share_holder {
        padding-right: 20px;
        padding-top: 10px;
        a {
          display: flex;
          flex-direction: row-reverse;
          text-decoration: none;
          justify-content: center;
          align-items: center;

          .social_share_icon {
            margin-right: 0;
            margin-left: 10px;

            &::before {
              font-size: 1.5rem;
            }
          }
        }
      }

      p {
        margin-bottom: 0;
      }
    }

    @include breakpoint ($tablet-break) {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }

    .image {
      margin-right: 1rem;
      margin-top: 0.25rem;
      
      img {
        @include breakpoint($tablet-break) {
          width: 40px;
        }
        @include breakpoint($mobile-break) {
          width: 60px;
        }
      }
    }

    .text {
      @include font-size(18px, 18px, 18px, 18px);
      font-weight: 700;
    }
  }
}

.social_share_dropdown {
  ul {
    li {
      a {
        i {
          transition: $transition;
        }

        &:hover {
          i {
            color: $color2 !important;
          }
        }
      }
    }
  }
}

&.single-portfolio_page {
  .qbutton {
    width: auto !important;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include breakpoint ($tablet-break) {
    .lb-bio {
      padding: 0 !important;
    }
  }

  @include breakpoint ($mobile-break) {
    .grid_section:nth-child(3) {
      .vc_empty_space {
        &:last-of-type {
          height: 32px !important;
        }
      }
    }

    .grid_section:nth-child(4) {
      .vc_empty_space {
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}

#tribe-events {
  .tribe-events-back {
    a {
      transition: $transition;
    }
  }

  .tribe-events-single-event-title {
    font-family: $primary;
    font-size: 1.7em;
  }

  .tribe-events-schedule.tribe-clearfix {
    h2 {
      font-family: $secondary;
      font-size: 1.2em;
      letter-spacing: normal;
    }
  }

  .tribe-events-event-image {
    img {
      max-height: 50vh;
      object-fit: cover;
    }

  }

  .tribe-events-button {
    padding: 6px 9px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
  }

  .tribe-events-single-section-title {
    color: $color1;
  }

  .tribe-events-meta-group {
    a {
      color: $color1;
      transition: $transition;

      &:hover {
        color: $color2;
      }
    }

    dt {
      font-weight: bold;
    }
  }

  .tribe-events-sub-nav {
    padding-bottom: 2em;

    li {
      width: calc(50% - 10px);

      &.tribe-events-nav-next {
        text-align: right;
      }
    }

    a {
      font-weight: bold;
      transition: $transition;
      color: $color1;

      &:before {
        transition: $transition;
      }

      &:hover {
        color: $color2;
      }

      @include breakpoint ($mobile-break) {
        font-size: 1rem;
      }
    }
  }
}
