/******************************************************************

Stylesheet: Publications template

Styles for post templates ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

&.woocommerce.single-product.qode-product-single-tabs-on-bottom .product .summary {
    width: 70% !important;
    margin-bottom: 0;
    padding-top: 0 !important;
    margin-left: 5%;

    @include breakpoint ($tablet-break) {
        margin-left: 10%;
    }

    @include breakpoint ($mobile-break) {
        width: 100% !important;
        margin: 0;
    }
    .separator {
        display: none;
    }
}

.content {
    .woocommerce {
        ul {
            &.products {
                li {
                    &.product {
                        .add-to-cart-button-outer {
                            display: none;
                        }
                        img {
                            margin: 20px auto !important;
                        }
                        &:hover {
                            .image-wrapper {
                                img {
                                    opacity: 1 !important;
                                    box-shadow: 0 3px 6px transparentize($black, 0.92) !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .hidden-content {
        overflow: hidden;
    }
    .read-more {
        font: $h3;
        color: $color1;
        float: right;
        align-self: flex-end;
        padding-top: 10px!important;
        border-top: 2px solid $color2 !important;
        width: 40%;
        text-align: right;
        outline: none;
        padding-bottom: 0;
        margin-top: 20px;
        font-size: 0.875rem;
        background-color: transparent;
        border: none;

        &:after {
            content: "+";
            padding-left: 0.5rem;
            font-weight: 600;
        }

        &.active {
            &:after {
                content: "-";
            }
        }
    }
    .desktop_hide {
        display: none;

        @include breakpoint ($tablet-break) {
            display: inline-block;
        }

        &.info {
            border-bottom: 1px solid lightgray;
            padding-bottom: $col-vw;
            margin-bottom: $col-vw;
            padding-top: 1rem;
        }
    }

    @include breakpoint ($tablet-break) {
        .tablet_hide {
            display: none;
        }
    }
    .overlapping_content_inner {
        overflow: visible !important;

        .container_inner {
            @media screen and (min-width: 1400px) {
                width: 1000px;
            }
            @include breakpoint ($mobile-break-sml) {
                max-width: $col-vw * 10;
            }
        }
    }
}

.all_publications_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $col-vw / 4;

    @include breakpoint ($tablet-break) {
        padding-top: $col-vw / 2;
    }
    @include breakpoint ($tablet-break-sml) {
        padding-top: 0;
    }

    @include breakpoint ($mobile-break) {
        .desktop_hide {
            display: none;
        }
    }

    .social_share_list_holder {
        margin-bottom: 2rem;
        font: $body-font;
        color: $light-gray;
        font-weight: 600;

        span {
            padding-right: 0.5rem;
        }

        ul {
            li {
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $black;
                    transition: $transition;

                    i {
                        color: $color2;
                        font-size: 1.2rem;
                    }

                    &:hover {
                        color: $color2;
                    }
                }
            }
        }


    }

    .all_publications {
        margin-bottom: 2rem;
        margin-left: -$col-vw / 2;

        @include breakpoint ($tablet-break) {
            margin-left: 0;
        }

        @include breakpoint ($mobile-break) {
            margin-bottom: 1rem;
        }
        a {
            font: $body-font;
            color: $light-gray;
            font-weight: 600;
            display: flex;
            align-items: center;
            transition: $transition;

            &:hover {
                color: $color2;
            }
            
            svg {
                margin-right: 1rem;
            }
        }
    }
}

&.single-product .product-categories,
&.single-product .q_tabs,
&.single-product .product_meta,
&.single-product .title_outer {
    display: none !important;
}

.product_pretitle {
    display: flex;
    justify-content: space-between;

    @include breakpoint ($mobile-break) {
        flex-direction: column-reverse;
    }

    font: $body-font;
    color: $light-gray;
    font-weight: 600;

    .social_share_list_holder {

        @include breakpoint ($tablet-break) {
            display: none;
        }

        @include breakpoint ($mobile-break) {
            display: block;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }


        span {
            padding-right: 0.5rem;
        }
    }

    a {
        color: $black;
        transition: $transition;

        &:hover {
            color: $color2;
        }
    }

    ul {
        li {
            margin-right: 1rem;

            @include breakpoint ($mobile-break) {
                margin-right: 0.8rem;
            }

            &:last-child {
                margin-right: 0;
            }
            a {
                i {
                    color: $color2;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.product_info {
    .product_title {
        &:after {
            content: "";
            display: block;
            border-bottom: 2px solid $color2;
            padding-top: 1rem;
            margin-bottom: 1rem;
            width: 10%;
        }
    }
    .book_formats {
        display: flex;
        flex-wrap: wrap;

        .book_format {
            padding: 1rem 2rem;
            box-shadow: 0 3px 6px transparentize($black, 0.92) !important;
            margin: 3rem 2rem 3rem 0rem;
            font: $body-font;
            font-weight: 400;
            transition: $transition;
            display: flex;
            align-items: center;

            @include breakpoint ($tablet-break) {
                padding: 1rem 1.5rem;
                margin: 1rem 1rem 1rem 0;

                &:nth-child(even) {
                    margin-right: 0;
                }
            }

            @include breakpoint ($mobile-break) {
                margin: 1rem 1rem 0.5rem 0;
            }

            &:hover {
                box-shadow: 0 6px 10px transparentize($black, 0.84) !important;
                color: $color1;
            }

            &:after {
                display: inline-block;
                content: "";
                background-image: url(/en/wp-content/uploads/2019/12/redirect-50-50px.png);
                background-repeat: no-repeat;
                background-size: 15px;
                height: 15px;
                width: 15px;
                margin-left: 0.5rem;
            }
        }
    }
}

.product {
    img {
        box-shadow: 0 3px 6px transparentize($black, 0.92) !important;
        transition: $transition !important;
    }
    h6 {
        transition: $transition !important;
    }
}

.first:not(li) {
   // display: flex;
    // border-bottom: 1px solid lightgray;



    @include breakpoint ($mobile-break) {
        flex-direction: column;
    }

    h1 {
        font: $h3;
        padding-top: 1rem;
        font-size: 1.75rem !important;

        @include breakpoint ($laptop-break) {
            font-size: 1.5rem !important;
        }

        @include breakpoint ($tablet-break) {
            font-size: 1.25rem !important;
        }

        @include breakpoint ($mobile-break) {
            font-size: 1.125rem !important;
        }
    }

    img {
        &:hover {
            box-shadow: 0 6px 10px transparentize($black, 0.84) !important;
        }
    }
}

.publications-top-section-wrapper {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-bottom: $col-vw / 2;
    margin-bottom: $col-vw / 2;

    @include breakpoint ($tablet-break) {
        border: none;
        margin: 0;
        padding: 0;
    }
    
    @include breakpoint($mobile-break) {
        flex-wrap: wrap;
    }
}

.woocommerce-product-gallery {
    width: 30% !important;
    margin: 0 !important;

    @include breakpoint ($mobile-break) {
        width: 100% !important;
    }

    figure {
        margin: 0;
    }
}

.related {
    padding-top: 0 !important;
    ul {
        &.products {
            .product {
                img {
                    margin: 10px auto !important;
                    opacity: 1 !important;
                    width: 60%;
                }
                .add-to-cart-button-outer {
                    display: none;
                }
                &:hover {
                    img {
                        box-shadow: 0 6px 10px transparentize($black, 0.84) !important;
                    }
                }
            } // .slick-arrow {
            //     &.slick-next {
            //         img {
            //             position: absolute;
            //             right: -$col-vw / 1.5;
            //             top: calc(50% - 40px);
            //             -webkit-transform: translateY(-50%);
            //             transform: translateY(-50%);
            //             -webkit-transition: $transition;
            //             transition: $transition;
            //             cursor: pointer;
            //             z-index: 999;
            //         }
            //     }
            // }
        }
    }
    @include breakpoint ($tablet-break) {

        ul {
            &.products {
                .slick-list {
                    padding: 0 30% 0 0;

                    .slick-slide {
                        // width: 200px;
                        >div {
                            margin-right: 2rem;
                        }
                    } // .slick-arrow {
                    //     &.slick-next {
                    //         img {
                    //             position: absolute;
                    //             right: -$col-vw / 1.5;
                    //             top: calc(50% - 40px);
                    //             -webkit-transform: translateY(-50%);
                    //             transform: translateY(-50%);
                    //             -webkit-transition: $transition;
                    //             transition: $transition;
                    //             cursor: pointer;
                    //             z-index: 999;
                    //         }
                    //     }
                    // }
                }
                li {
                    &.product {
                        width: 48.89%;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    @include breakpoint ($mobile-break) {
        ul {
            &.products {
                h6 {
                    padding: 0;
                    text-align: left
                }
            }
        }
    }
    h4 {
        margin-bottom: 2rem;

        @include breakpoint ($mobile-break) {
            margin-bottom: 1rem;
        }
    }
}

.slick {

    &-next,
    &-prev {
        background: $color2 !important;
        height: 40px;
        width: 40px;
        padding: 8px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        top: 133px;

        &:before {
            display: none !important;
        }

        &:hover {
            box-shadow: 0 6px 10px transparentize($black, 0.84) !important;
        }

        &.slick-disabled {
            opacity: 0;
            z-index: 0;
        }

        @include breakpoint($mobile-break) {
            height: 30px;
            width: 30px;
            padding: 7px;
            top: 100px;
        }

        svg {
            height: 100%;
            width: auto;
        }
    }

    &-next {
        right: -20px;
        position: absolute;
        right: -$col-vw / 1.5;
        top: calc(50% - 40px);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: $transition;
        transition: $transition;
        cursor: pointer;
        z-index: 999;

        @include breakpoint($mobile-break) {
            right: -15px;
        }
    }

    &-prev {
        left: -20px;
        position: absolute;
        left: -$col-vw / 1.5;
        top: calc(50% - 40px);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: $transition;
        transition: $transition;
        cursor: pointer;
        z-index: 999;
        @include breakpoint($mobile-break) {
            left: -15px;
        }
    }
}

&.columns-3 {
    .title_outer {
        display: block;
    }
    .vc_row:last-child .section_inner {
        @media screen and (min-width: 1400px) {
            width: 1000px !important;
        }
        .product {
            img {
                width: 60%;
            }
            a {
                &.product-category {
                    &.product-info {
                        margin: 0 !important;
                        padding-bottom: 1em !important;
                    }
                }
            }
        }
    }
}
