/******************************************************************

Stylesheet: Search Results

Styles for search result page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

&.search-results,
&.search-no-results {
  .content.content_top_margin {
    @include breakpoint($mobile-break) {
      min-height: auto !important;
    }
  }
  h1 {
    font-size: 2.5rem;
  }
  .vc_row.wpb_row.section.vc_row-fluid.lb-padding-top.lb-padding-bottom.grid_section
    .section_inner {
    @include breakpoint($tablet-break) {
      width: 100%;
    }
  }
  .lb-headsec {
    margin: $col-vw / 2 1rem $col-vw / 4 !important;

    @include breakpoint($tablet-break) {
      margin: $col-vw / 2 calc(#{$col-vw} + 55px + 10px) $col-vw / 4 !important;
    }

    @include breakpoint($tablet-break-sml) {
      margin: $col-vw / 2 calc(#{$col-vw} + 20px) $col-vw / 4 !important;
    }

    @include breakpoint($mobile-break) {
      margin: $col-vw / 2 30px $col-vw / 4 !important;
    }
  }
  &.overlapping_content
    .content
    .content_inner
    > .container
    > .overlapping_content {
    @include breakpoint($mobile-break) {
      padding: 0 15px !important;
    }
    .overlapping_content_inner {
      @include breakpoint($tablet-break) {
        margin: 0 calc(#{$col-vw} - 15px);
      }

      @include breakpoint($mobile-break) {
        margin: 0;
      }
    }
    .container_inner {
      @include breakpoint($tablet-break) {
        width: 100%;
      }
    }
  }
  .container {
    .blog_holder {
      display: flex;
      flex-flow: wrap;
      margin: -1rem;
      padding-bottom: 70px;

      @include breakpoint($tablet-break) {
        padding-bottom: 35px;
        margin: 0;
      }

      article {
        width: calc(50% - 2rem);
        margin: 1rem;

        @include breakpoint($tablet-break) {
          width: 100%;
          margin: 0;

          &:not(:last-of-type) {
            margin-bottom: 1rem;
          }
        }
        .post_content_holder {
          display: flex;

          .post_image {
            position: relative;
            width: 33.333%;
            min-width: 33.333%;
            height: 0;
            min-height: initial;
            padding-bottom: 56.25 / 100 * 33.333%;
            margin: 4px; // align with text
            &:hover {
              ~ .post_text {
                h2 {
                  a {
                    color: $color2;
                  }
                }
              }
            }
            > a {
              width: 100%;
              height: 100%;
              min-height: initial;
              padding-bottom: 56.25%;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);

              img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
                min-height: initial;
              }
            }

            & + .post_text {
              padding: 0 0 0 20px;

              @include breakpoint($tablet-break) {
                padding-left: 15px;
              }
              @include breakpoint($mobile-break) {
                padding-left: 10px;
              }
            }
          }

          .post_text_inner {
            padding: 0;

            .post_info {
              visibility: visible;
              font-size: 12px;
              line-height: 1.5;
              margin-bottom: 0;

              a {
                transition: $transition;
              }

              .blog_share {
                padding-top: 0;
              }
            }

            .post_more {
              display: none;
            }

            .entry_title {
              display: flex;
              flex-direction: column-reverse;
              font: $body-font !important;

              a {
                font-family: $secondary;
                letter-spacing: 0;
                font-weight: 700 !important;
                @include font-size(18px, 18px, 16px, 16px);
                line-height: initial;
                color: $header-gray;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

                &:hover {
                  color: $color2;
                }
              }
            }

            // .entry_title .date,
            // .post_info {
            //   display: none;
            // }

            .post_infos {
              display: flex;
              flex-wrap: wrap;
              margin-top: 0.5rem;

              @include breakpoint($mobile-break) {
                margin-top: 3px;
              }

              .date {
                letter-spacing: 0;
                color: $light-gray !important;
                padding-right: 0.5rem;
                line-height: initial;
                margin-bottom: 3px;
              }

              .category {
                line-height: initial;

                a {
                  transition: $transition;
                  color: $header-gray;

                  &:hover {
                    color: $black;
                  }
                }

                &:before {
                  content: "|";
                  padding: 0 0.5em 0 0;
                  color: $color2 !important;
                }
              }
            }
          }
        }
      }
      .pagination {
        margin-top: 70px;
        margin-bottom: 70px;
        margin-left: 0 !important;
        margin-right: 0 !important;

        @include breakpoint($tablet-break) {
          margin-top: 35px !important;
          margin-bottom: 35px !important;
        }
        ul {
          display: flex;
          flex-flow: wrap;
          justify-content: center;
          margin: -0.5em;

          li {
            padding: 0.5em;

            a,
            span {
              margin-right: 0;

              @include breakpoint($tablet-break) {
                font-size: 14px;
                height: 26px;
                width: 26px;
                line-height: 26px;
              }
            }
          }
        }
      }
    }
  }

  margin-bottom: 2rem;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }

  &.search.search-no-results .container .blog_holder {
    margin-left: 0;
  }
}
