/******************************************************************

Site Name: Orientale

Stylesheet: Buttons

******************************************************************/
/**********************
BUTTONS
**********************/
%btn {
    // background: $color2 !important;
    // color: $white !important;
    color: $color1 !important;
    // padding: 0.325rem 2rem !important;
    // padding: 0.325rem 1.2rem !important;
    padding: 0 2rem !important;
    // border: 2px solid $color2 !important;
    position: relative;
    // font-size: 1rem !important;
    font-size: 16px !important;
    // font-weight: 600 !important;
    font-weight: 500 !important;
    display: inline-block;
    // line-height: 1.2em !important;
    line-height: 36px;
    height: 36px;
    width: auto;
    transition: $transition;
    // text-transform: uppercase !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);

    @include breakpoint($tablet-break) {
        padding: 0.325rem 1.9rem !important;
    }

    @include breakpoint($mobile-break) {
        padding: 0.325rem 1.8rem !important;
    }

    &:hover {
        // background: $color1 !important;
        // border-color: $color1 !important;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
        color: $color2 !important;
    }

    &.white {
        color: $white !important;

        &::after {
            background: $white !important;
        }
    }

    &.light {
        color: $color2 !important;
        background: transparent !important;

        &:hover {
            bakcground: $color1 !important;
            color: $white !important;
        }
    }

    &.top {
        margin-top: 2rem;
    }
}

@mixin btn {
    @extend %btn;
}

.btn,
.ct-link-button {
    @include btn;
}

// Remove outline on links
.no-focus-outline a:active,
.no-focus-outline a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.btn-2 {
    background: transparent !important;
    color: $color1;
    font-size: 1rem !important;
    font-weight: 700 !important;
    padding-right: 1.75rem;
    position: relative;
    transition: $transition;

    &::before {
        content: '';
        width: 0.75em;
        height: 2px;
        background: $color1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        transition: $transition;
    }

    &::after {
        content: '';
        width: 2px;
        height: 0.75em;
        background: $color1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(0.375rem - 1px);
        transition: $transition;
    }

    &:hover {
        color: $color2;

        &::after,
        &::before {
            background: $color2;
        }
    }
}