/******************************************************************

Site Name: Orientale

Stylesheet: Global Footer

******************************************************************/

.content_bottom {
  display: none !important;
}

body {
  &:not(#this) {
    footer {
      width: 100% !important;
      left: initial !important;
      box-sizing: border-box !important;
      background: $color1;
      color: $white;
      padding: $col-vw * 0.75 $col-vw !important;

      @include breakpoint($laptop-break) {
        padding: $col-vw $col-vw !important;
      }

      @include breakpoint($tablet-break) {
        padding: $col-vw * 1.25 $col-vw !important;
        padding-left: $col-vw !important;
      }

      @include breakpoint($mobile-break) {
        padding: $col-vw * 1.5 $col-vw !important;
        padding-left: $col-vw !important;
      }

      .lb_footer {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: calc(-100vw / 12 * 0.375 - 30px);
        right: calc(-#{$col-vw / 2} - 30px);

        @include breakpoint($laptop-break) {
          bottom: calc(-100vw / 12 * 0.5 - 30px);
        }

        @include breakpoint($tablet-break) {
          bottom: calc(-100vw / 12 * 0.625 - 30px);
          right: calc(-#{$col-vw / 2} - 15px);
        }

        @include breakpoint($mobile-break) {
          bottom: calc(-100vw / 12 * 0.75 - 15px);
          right: -$col-vw / 2;
        }

        a {
          width: 30px;
          display: block;
          height: 30px;
          margin: 0 0 0 auto;
          text-align: center;

          &:hover img {
            opacity: 0.8;
          }
        }

        img {
          text-align: center;
          width: 30px;
          height: 30px;
          margin: 0 auto;
          display: inline-block;
          opacity: 0.4;
          transition: $transition;
        }
      }

      .footer_top_holder {
        background: $color1;

        .footer_top {
          padding: 0 !important;
        }
      }

      .full_section_inner {
        display: flex;

        @include breakpoint($tablet-break) {
          flex-wrap: wrap;
        }
      }

      .vc_col-sm-6 {
        display: flex;
        align-items: center;

        &:first-child {
          width: $col-vw * 3 !important;
          padding-right: $col-vw * 0.5;

          @include breakpoint(1700px) {
            width: $col-vw * 4 !important;
          }

          @include breakpoint($laptop-break) {
            padding-right: $col-vw;
            padding-left: $col-vw/4;
            width: $col-vw * 5 !important;
          }

          @include breakpoint($tablet-break) {
            width: 100% !important;
            padding-left: $col-vw * 2.25;
            padding-right: $col-vw * 2.25;
            padding-bottom: $col-vw;
          }

          @include breakpoint($mobile-break) {
            padding-left: $col-vw/4;
            padding-right: $col-vw/4;
          }

          .vc_column-inner {
            > .wpb_wrapper {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;

              .wpb_single_image {
                height: 100px;
                box-sizing: border-box;
                padding: 0 0.25rem;

                @include breakpoint(1260px) {
                  height: 75px;
                }

                @include breakpoint($mobile-break) {
                  height: $col-vw * 2.25;
                }

                @include breakpoint($mobile-break-sml) {
                  height: 50px;
                }
              }

              .wpb_text_column {
                width: 100%;
              }
            }
          }

          a {
            transition: $transition;

            &:hover {
              opacity: 0.8;
            }

            img {
              height: 100px;
              width: auto;

              @include breakpoint(1260px) {
                height: 75px;
              }

              @include breakpoint($mobile-break) {
                height: $col-vw * 2.25;
              }

              @include breakpoint($mobile-break-sml) {
                height: 50px;
              }
            }
          }

          h4 {
            width: 100%;
            text-align: center;
            margin-top: 1rem;
            color: $white;
            font-family: $primary !important;
            @include font-size(24px, 22px, 20px, 20px);
          }
        }

        &:last-child {
          width: calc(100% - #{$col-vw * 3}) !important;
          padding-left: $col-vw;

          @include breakpoint($laptop-break) {
            width: calc(100% - #{$col-vw * 5}) !important;
            padding-left: 0;
          }

          @include breakpoint($tablet-break) {
            width: 100% !important;
            padding-left: 0;
            padidng-right: 0;
          }

          .vc_column-inner {
            > .wpb_wrapper {
              display: flex;
              flex-wrap: wrap;

              @include breakpoint($laptop-break) {
                justify-content: space-between;
              }

              .wpb_text_column {
                width: calc(100% / 3);

                @include breakpoint($laptop-break) {
                  width: auto;
                }

                @include breakpoint($mobile-break) {
                  width: 100%;
                  text-align: center;
                  padding-bottom: $col-vw;

                  &:last-child {
                    padding-bottom: 0;
                  }
                }
              }
              .social {
                a {
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }

          h3 {
            color: $white !important;
            @include font-size(28px, 24px, 20px, 20px);
            border-bottom: 1px solid $color2;
            display: inline-block;
            width: auto;
            margin-bottom: 1.5rem;
          }

          :not(.social) a {
            color: $white !important;
            transition: $transition;
            font-family: $secondary;
            display: inline-block !important;
            margin-bottom: 0.65rem;
            font-size: 1rem !important;
            position: relative;

            &.sign-in {
              display: inline-flex !important;
              margin: 0;

              &.desktop-hide {
                display: none !important;
                margin-top: 1rem;
                @include breakpoint($tablet-break-sml) {
                  display: inline-flex !important;
                }
                @include breakpoint($mobile-break) {
                  margin-top: calc(#{$col-vw} + 0.65rem);
                  margin-bottom: 1rem;
                }
              }
              &.mobile-hide {
                @include breakpoint($tablet-break-sml) {
                  display: none !important;
                }
              }
            }

            &:after {
              content: "•";
              color: $color2;
              position: absolute;
              right: -10px;
              transition: 0.25s ease-in-out;
              opacity: 0;
            }

            &:hover {
              // opacity: 0.7;
              // color: $color2 !important;
              &:after {
                opacity: 1;
              }
            }

            &::last-child {
              margin-bottom: 0;
            }
          }

          br {
            display: none;
          }

          .social {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            @include breakpoint($mobile-break) {
              margin-top: $col-vw;
              justify-content: center;
            }

            .qode_icon_shortcode {
              margin-right: 1.5rem;
              display: flex;

              &:last-child {
                margin-right: 0;
              }

              @include breakpoint($mobile-break) {
                margin-right: 2.5rem;

                &:last-child,
                &:nth-last-child(2) {
                  margin-right: 0;
                }
              }

              a {
                margin-bottom: 0;
                display: flex !important;

                i {
                  color: $color2;
                  font-size: 20px;

                  @include breakpoint($mobile-break) {
                    font-size: 25px;
                  }
                }

                &:hover {
                  i {
                    color: $white;
                  }
                }
              }
            }
          }
          .sign-in {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            white-space: nowrap;
            transition: $transition;
            margin-bottom: 0;
            margin-top: 0.65rem;

            svg {
              height: 16px;
              width: auto;
              margin-right: 0.5rem;
              vertical-align: middle;

              path {
                fill: $color2;
                transition: $transition;
              }

              @include breakpoint($mobile-break) {
                height: 18px;
              }
            }

            &:focus,
            &:hover {
              color: $color2 !important;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
