/******************************************************************

Site Name: Orientale

Stylesheet: Gravity Form Styles

For universal gravity forms style overrides. For individual page form overrides please use the specific page SCSS file.

This is not an exhaustive list. 
For other GF CSS classes, go here: https://www.gravityhelp.com/documentation/article/css-targeting-samples/

******************************************************************/
/*********************
GRAVITY FORM UNIVERSAL STYLES
*********************/
// body {
//   .gform_wrapper {
//     margin: 0 !important;
//     padding: 0 !important;

//     .gform_heading {
//       .gform_title {
//         font: $h4;
//         font-family: $secondary !important;
//       }

//       .gform_description {
//       }
//     }

//     .gform_body .gform_fields .gfield {
//       margin-top: 2.5rem !important;
//       padding-right: 0;

//       @include breakpoint($tablet-break) {
//         margin-top: 2rem !important;
//       }

//       @include breakpoint($mobile-break) {
//         margin-top: 1.5rem !important;

//         span.name_last {
//           margin-top: 1.5rem !important;
//         }
//       }

//       &:first-child {
//         margin-top: 0 !important;
//       }

//       > .gfield_label {
//         display: none !important;
//       }

//       input[type="text"],
//       select,
//       textarea {
//         color: $color-p;
//         border: 0 !important;
//         background: $color6;
//         transition: $transition-slow;
//         outline: none !important;
//         padding: 0.5rem 1rem !important;
//         font: $body-font;

//         &::placeholder {
//           color: $color1 !important;
//         }

//         &:hover,
//         &:focus {
//           background: $white;
//           box-shadow: 0 3px 6px transparentize($color3, 0.84);
//         }

//         + label {
//           display: none;
//         }
//       }

//       .gfield_radio,
//       .gfield_checkbox {
//         li {
//           input {
//             display: none;

//             &:checked {
//               + label {
//                 &::after {
//                   opacity: 1;
//                 }
//               }
//             }
//           }

//           label {
//             display: block;
//             position: relative;
//             padding-left: 2rem;
//             margin-right: 0;
//             font: $body-font;
//             font-weight: 400 !important;
//             color: $color1;

//             a {
//               font-weight: 700 !important;
//               color: $color1;

//               &:hover {
//                 color: $color2;
//               }
//             }

//             &::before {
//               width: 1rem;
//               height: 1rem;
//               content: "";
//               position: absolute;
//               top: 7px;
//               left: 7px;
//               background: $white;
//               border: 2px solid $color2;
//             }

//             &::after {
//               width: 1rem;
//               height: 1rem;
//               content: "";
//               position: absolute;
//               background: $color2;
//               background-size: cover !important;
//               background-position: center !important;
//               top: 7px;
//               left: 7px;
//               opacity: 0;
//               transition: $transition;
//             }
//           }
//         }
//       }

//       .gfield_radio {
//         li {
//           label {
//             &::before,
//             &::after {
//               border-radius: 100%;
//             }
//           }
//         }
//       }
//     }

//     .gform_footer {
//       margin: 0 !important;
//       padding: 0 !important;

//       .gform_button {
//         margin-right: 0 !important;
//         margin-top: 2.5rem;
//         @include btn;
//       }
//     }
//   }
// }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"],
select,
textarea {
  font: $body-font !important;
  color: $color-p !important;

  &::placeholder {
    color: rgba($color-p, 0.7) !important;
  }
}

input[type="search"] {
  &::-webkit-search-cancel-button {
    position: relative;
    right: 10px;
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.838235 16C0.598739 16 0.39916 15.9385 0.239496 15.8154C0.079832 15.6923 0 15.5385 0 15.3538C0 15.1692 0.0931372 14.9744 0.279412 14.7692L7.22479 7.81538L0.718487 1.2C0.505602 0.974359 0.39916 0.789744 0.39916 0.646154C0.39916 0.461539 0.478992 0.307693 0.638655 0.184617C0.82493 0.0615389 1.02451 0 1.23739 0H3.15336C3.55252 0 3.89846 0.164103 4.19118 0.492309L9.57983 5.87692L14.9685 0.492309C15.1281 0.328206 15.2745 0.205128 15.4076 0.123077C15.5672 0.0410255 15.7668 0 16.0063 0H17.8424C18.0553 0 18.2416 0.0615389 18.4013 0.184617C18.5609 0.307693 18.6408 0.451283 18.6408 0.615386C18.6408 0.820514 18.5476 1.01538 18.3613 1.2L11.7752 7.87692L18.7206 14.7692C18.9069 14.9744 19 15.1692 19 15.3538C19 15.5385 18.9202 15.6923 18.7605 15.8154C18.6008 15.9385 18.4013 16 18.1618 16H16.2059C15.8067 16 15.4608 15.8462 15.1681 15.5385L9.46008 9.84615L3.7521 15.5385C3.59244 15.6821 3.43277 15.7949 3.27311 15.8769C3.14006 15.959 2.95378 16 2.71429 16H0.838235Z' fill='%23b47b28'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    // opacity: 0.75;
  }
}

.gform_footer input[type="submit"] {
  width: auto !important;
}

/*********************
ACTIVE STATES
*********************/
// spacing out the password
input[type="password"] {
  letter-spacing: 0.3em;
}
