/******************************************************************

Site Name: Orientale

Stylesheet: Global Header

******************************************************************/

/*********************
Header
*********************/

/*********************
Desktop Navigation
*********************/

/*********************
Tablet/Mobile Navigation
*********************/

body.is-mouse {
  *:active,
  *:focus {
    outline: 0;
    -moz-outline-style: none;
  }
}

// .mobile_menu {
//   ul {
//     li {
//       a,
//       h3 {
//         text-transform: none;
//       }
//     }
//   }
// }
header {
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  &.scrolled {
    .header_top {
      max-height: 0 !important;
    }
  }

  &:not(.scrolled) {
    .logo_wrapper {
      @include breakpoint(min-width 1001px) {
        margin-top: -75px;
      }
      @include breakpoint(min-width 1280px) {
        margin-top: -40px;
      }
    }
  }
}
.language-switch {
  position: relative;

  &:hover,
  &:focus-within {
    .language-switch__arrow svg {
      transform: rotate(180deg);
    }
    .language-switch__dropdown {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .flag {
    > svg {
      height: 1.5rem;
      width: 1.5rem;
      min-width: 1.5rem;

      // @include breakpoint(1000px) {
      //   height: 1rem;
      //   width: 1rem;
      //   min-width: 1rem;
      // }

      @include breakpoint($mobile-break) {
        height: 1rem;
        width: 1rem;
        min-width: 1rem;
      }

      // @include breakpoint(350px) {
      //   height: 0.75rem;
      //   width: 0.75rem;
      //   min-width: 0.75rem;
      // }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  &__arrow {
    height: 8px;
    margin-left: 8px;
    color: $color1;
    display: flex;

    svg {
      height: 100%;
      width: auto;
      transition: transform $transition;
    }

    @include breakpoint($mobile-break) {
      height: 6px;
      margin-left: 6px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__dropdown {
    opacity: 0;
    pointer-events: none;
    transition: $transition;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: absolute;
    z-index: 9;
    top: 100%;
    right: 5px;
    background-color: rgba($white, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px 20px;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.vertical_menu_area {
  &.vertically_center_content {
    nav.vertical_menu {
      ul {
        text-align: left;
      }
    }
  }
  .vertical_menu_area_widget_holder .widget_text .textwidget {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font: $body-font;
    a.sign-in {
      color: $color1;
      display: inline-flex;
      align-items: center;
      font-size: 16px; // margin-left: 1rem;
      // margin-left: 0.5rem;
      white-space: nowrap;
      opacity: 0;
      transition: $transition;

      width: 100%;
      margin-top: 0.65rem;

      svg {
        height: 14px;
        margin-right: 0.5rem;

        path {
          fill: $color1;
          transition: $transition;
        }
      }

      &:hover {
        color: $color2 !important;
        svg {
          path {
            fill: $color2;
          }
        }
      }
    }
  }
  &.active {
    a.sign-in {
      opacity: 1 !important;
    }
  }

  .menu-item {
    a {
      svg {
        opacity: 0.2;
        position: relative;
        display: inline-block;
        left: 0.5em;
        width: 10px;
        height: 10px;
      }
    }
  }
  &.active {
    ul#menu-main-menu {
      > #nav-menu-item-1003 {
        a {
          span {
            &:not(.plus) {
              &:after {
                display: none !important;
              }
            }
          }
          svg {
            transition: $transition;
            path {
              transition: $transition;
            }
          }
          &:hover {
            svg {
              opacity: 1;
              path {
                fill: $color2;
              }
            }
          }
        }
      }
    }
  }
}

.mobile_menu {
  .current-menu-parent,
  .current-menu-item {
    > a,
    h3 {
      color: $color1 !important;
      font-weight: 700;
      span {
        &:not(.plus) {
          &::after {
            // display: none;
          }
        }
      }
    }
  }

  .social-sign-in-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    .social {
      display: flex;
      align-items: center;
      .qode_icon_shortcode {
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          i {
            color: $color1;
            font-size: 20px;
            display: flex;
          }

          &:hover {
            i {
              color: $color2;
            }
          }
        }
      }
    }

    .sign-in-wrapper {
      text-align: right;

      a.sign-in {
        color: $color1;
        display: inline-flex;
        align-items: center;
        font-size: 16px; // margin-top: 1rem;
        white-space: nowrap;
        transition: $transition;
        justify-content: flex-end;

        svg {
          height: 14px;
          margin-right: 0.5rem;

          path {
            fill: $color1;
            transition: $transition;
          }
        }

        &:hover {
          color: $color2 !important;
          svg {
            path {
              fill: $color2;
            }
          }
        }
      }
    }
  }
}

nav.mobile_menu ul li a,
nav.mobile_menu ul li h3 {
  text-transform: none;
}

nav.mobile_menu {
  > ul {
    max-width: 100%;
  }
}

.current-menu-parent > a > span,
.current-menu-item > a > span,
.current-menu-parent > h3 > span,
.current-menu-item > h3 > span {
  font-weight: 700;
  &:after {
    font-weight: normal;
  }
}

.mobile_menu {
  .current-menu-parent > a > span,
  .current-menu-item > a > span,
  .current-menu-parent > h3 > span,
  .current-menu-item > h3 > span {
    position: relative;

    &:after {
      font-weight: normal;
      content: "•";
      color: #b47b28;
      position: absolute;
      right: -10px;
      transition: 0.25s ease-in-out;
      opacity: 1;
    }
  }
}

.menu-item {
  > a {
    line-height: 1.5 !important;
    text-transform: initial !important;
  }

  &.header-top-menu {
    @include breakpoint(min-width 1001px) {
      display: none !important;
    }
  }
}

nav.main_menu {
  margin-right: 30px;

  @include breakpoint($laptop-break) {
    margin-right: 38px;
  }

  @include breakpoint(1000px) {
    margin-right: 0;
  }
  > ul > li {
    > a {
      line-height: 80px !important;
      @include breakpoint($laptop-break) {
        padding: 0 10px;
        font-size: 14px;
      }
      @include breakpoint(1279px) {
        line-height: 60px !important;
      }
    }

    &.menu-item-has-children {
      > a {
        &::after {
          content: "";
          height: 0.875rem;
          width: 0.875rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 8'%3E%3Cpath fill='%23C4C4C4' d='M1.41 0 6 4.58 10.59 0 12 1.41l-6 6-6-6L1.41 0Z'/%3E%3C/svg%3E");
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 5px;
          vertical-align: middle;
        }
      }
    }
  }
}

.q_logo > a {
  height: 80px !important;

  @include breakpoint(max-width 1500px) {
    height: 75px !important;
  }

  @include breakpoint(max-width 1299px) {
    height: 65px !important;
  }

    @include breakpoint(1279px) {
      height: 40px !important;
    }

    @include breakpoint(1123px) {
      height: 30px !important;
    }

    @include breakpoint(999px) {
      display: flex;
      align-items: center;
    }
  

  > img {
    @include breakpoint(480px) {
      height: 55px !important;
    }

    @include breakpoint(375px) {
      height: 45px !important;
    }
  }
}

.header-search {
  display: flex;
  align-items: center;
  position: relative;

  &__trigger {
    color: $white;
    padding: 10px 25px;
    cursor: pointer;
    transition: color $transition;

    &:hover {
      color: $color1;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $color1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 0;
    pointer-events: none;
    z-index: 9;
    transition: opacity $transition;

    &.active {
      opacity: 1;
      pointer-events: initial;
    }

    form {
      display: flex;
      align-items: stretch;

      input[type="search"] {
        padding: 15px 0 15px 20px;
        background-color: transparent;
        font-size: 1rem !important;
        color: $white !important;
        border: 0;
        width: 200px;

        @include breakpoint(340px) {
          width: 180px;
        }

        &::placeholder {
          color: $white !important;
        }
      }

      button[type="submit"] {
        display: flex;
        align-items: center;
        padding: 15px 25px;
        color: $color2;
        cursor: pointer;
        transition: color $transition;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

// Header Top
.header_top {
  display: flex !important;
  align-items: center;
  height: initial !important;
  max-height: 100px !important;
  transition: max-height $transition;
  background-color: transparent !important;
  overflow: visible;
  // min-height: 60px !important;

  @include breakpoint(1000px) {
    display: none !important;
    // min-heig ht: 40px !important;
  }

  > .left {
    display: none !important;
  }

  > .right {
    display: flex;
    width: 100%;
    height: 100%;

    * {
      box-sizing: border-box;
    }

    .inner {
      &,
      > div,
      > div > div {
        height: 100%;
        width: 100%;
      }

      .textwidget {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
      }

      // .header-top-social,
      // .header-top-sign-in {
      //   @include breakpoint(1000px) {
      //     display: none !important;
      //   }
      // }

      .header-top-social {
        padding: 0 37px;
        display: flex;
        align-items: center;

        .social {
          margin: 0 -12px !important;
          display: flex;
          align-items: center;

          span {
            display: inline-flex;
            align-items: center;
          }
        }
        a {
          padding: 0 12px !important;

          &:hover i {
            color: $color2;
          }
        }
      }

      .header-top-sign-in {
        background-color: $color1;
        display: flex;
        align-items: center;
        padding: 0 25px;

        // @include breakpoint($mobile-break) {
        //   padding: 0 10px;
        // }

        a {
          display: flex;
          align-items: center;
          padding-left: 0 !important;
          padding-right: 0 !important;

          &:hover {
            svg path {
              fill: $color2 !important;
            }
          }
        }

        svg {
          height: 1.25rem;
          width: auto;
          margin-right: 1rem;

          path {
            transition: fill $transition;
          }
        }
      }

      .header-top-nav {
        background-color: $color2;
        padding: 5px 25px;
        display: flex;
        flex: 0 1 0;
        align-items: center;

        // @include breakpoint(1000px) {
        //   flex: 0 0 100%;
        // }

        // @include breakpoint($mobile-break) {
        //   padding: 5px 10px;
        // }

        ul {
          list-style: none;
          display: flex;
          align-items: center;
          white-space: nowrap;
          justify-content: flex-start;
          margin: 0 -25px;
          margin-right: 0;

          // @include breakpoint($mobile-break) {
          //   flex-flow: wrap;
          //   white-space: normal;
          //   margin: 0 -10px;
          // }
        }
        li {
          position: relative;
          display: flex;
          align-items: center;

          // &:not(:last-of-type) {
          &::after {
            content: "";
            height: 60%;
            background-color: $color4;
            width: 1px;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
          // }

          a:hover {
            color: $color1 !important;
          }
        }

        .language-switch {
          margin-left: auto;

          a {
            padding: 0 !important;
          }

          &__arrow {
            color: $white;
          }
        }
      }
      a {
        color: $white !important;
        padding: 10px 25px !important;

        // @include breakpoint($mobile-break) {
        //   padding: 5px 10px !important;
        // }
      }
    }
  }
}

nav.main_menu .menu-item a,
.header_top a {
  font-size: 18px !important;
  line-height: 1.5;
  font-weight: 600 !important;
  transition: color $transition;

  @include breakpoint($laptop-break-lrg) {
    font-size: 16px !important;
  }

  @include breakpoint($laptop-break) {
    font-size: 14px !important;
  }

  @include breakpoint(1080px) {
    font-size: 12px !important;
  }

  // @include breakpoint($mobile-break) {
  //   font-size: 12px !important;
  // }
  @include breakpoint(350px) {
    font-size: 10px !important;
  }

  &:hover {
    color: $color2;
  }
}

// .header_bottom {
//   @include breakpoint(min-width 1001px) {
//     padding-top: 20px;
//     padding-bottom: 20px;
//   }
// }

.header_bottom_right_widget_holder {
  @include breakpoint($tablet-break) {
    display: table-cell !important;
    padding-right: 0 !important;
  }
}

.header-bottom-language-switcher {
  display: flex;
  align-items: center;

  .header-search {
    &__trigger {
      color: $color1;

      &:hover {
        color: $color2;
      }
    }
  }
}

.header_inner_right {
  @include breakpoint(min-width 1001px) {
    display: none !important;
  }
}

// Dropdown
.drop_down .second .inner > ul,
li.narrow .second .inner ul {
  background-color: $white !important;
  margin-top: 15px;

  li {
    width: 270px !important;
  }
}

.drop_down .wide .second > .inner > ul > li.sub > ul > li > a,
.drop_down .second .inner ul li a,
.drop_down .wide .second ul li a,
.drop_down .second .inner ul.right li a {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-weight: 400 !important;
  // color: $white !important;

  > span:not(.plus) {
    display: inline-block;
    padding-left: 6px !important;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0.6em;
      left: -6px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $color2;
      opacity: 0;
      transition: opacity $transition;
    }
  }

  &:hover > span:not(.plus)::after {
    opacity: 1;
  }
}

// Cookiebot outline
#CybotCookiebotDialog {
  .CybotCookiebotDialogBodyLevelButtonSliderWrapper input:focus-visible + span,
  :focus-visible {
    outline: none !important;
  }
}

#CybotCookiebotDialog.tab-pressed {
  .CybotCookiebotDialogBodyLevelButtonSliderWrapper input:focus-visible + span,
  :focus-visible {
    outline: $color2 solid 2px !important;
  }
}
