.notable-alumni {
  .notable-alumni-inner {
    margin: -1em;

    > .section_inner {
      @media only screen and (max-width: 1460px) and (min-width: 1000px) {
        width: 980px;
      }

      @media only screen and (max-width: 1560px) and (min-width: 1400px) {
        width: 1300px !important;
      }
    }

    .wpb_wrapper {
      display: flex;
      flex-flow: wrap;
      width: 80%;
      margin: auto;

      @include breakpoint(1400px) {
        width: 100%;
      }
    }
  }

  .image_with_text,
  .alumni_text {
    width: 33.333%;
    padding: 1em;
    box-sizing: border-box;

    @include breakpoint(600px) {
      padding: 1em 0;
    }
  }

  .image_with_text {
    img {
      margin: 0 0 1em;
      width: 100%;
    }

    > h5 {
      transition: all 0.5s ease-in-out;
    }

    &__content h5 {
      margin-bottom: 0.5em;
    }
  }

  .alumni_text {
    .wpb_wrapper {
      width: 100%;
    }

    &__content {
      //   display: none;
      margin-top: 0.5em;
    }
  }

  .qbutton {
    margin-left: auto !important;

    &::after {
      content: "";
      background-image: url("/it/wp-content/uploads/2019/12/redirect-50-50px.png");
      position: relative;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-left: 0.5em;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .vc_column-inner > .wpb_wrapper {
    &.slick-initialized {
      flex-flow: row;

      .slick-next,
      .slick-prev {
        position: absolute;
        top: 50%;
        z-index: 9;
        transition: all 0.2s ease-in-out;
      }

      .slick-next {
        right: 0;
        transform: translate(50%, -50%);

        @include breakpoint(870px) {
          right: 2rem;
        }

        @include breakpoint($tablet-break-sml) {
          right: 0;
          transform: translate(100%, -50%);
        }

        @include breakpoint(720px) {
          transform: translate(50%, -50%);
        }
      }

      .slick-prev {
        left: 0;
        transform: translate(-50%, -50%);

        @include breakpoint(870px) {
          left: 2rem;
        }

        @include breakpoint($tablet-break-sml) {
          left: 0;
          transform: translate(-100%, -50%);
        }

        @include breakpoint(720px) {
          transform: translate(-50%, -50%);
        }
      }

      .slick-disabled {
        opacity: 0;
        pointer-events: none;
      }

      .slick-list {
        margin-right: calc(-15px - (100vw - 768px));
        padding-right: calc(15px + (100vw - 768px));

        @include breakpoint($tablet-break-sml) {
          margin-right: calc(-15px - (100vw - 600px));
          padding-right: calc(15px + (100vw - 600px));
        }
      }
    }
  }
}

@include breakpoint(min-width 1061px) {
  .notable-alumni .image_with_text__content {
    position: absolute;
    display: block;
    top: 1em;
    left: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    padding: 2em;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }
  .notable-alumni {
    .image_with_text:hover {
      .image_with_text__content {
        opacity: 1;
        z-index: 1;
      }
      > h5 {
        opacity: 0;
      }
    }
  }
}

@include breakpoint(1060px) {
  .notable-alumni-inner {
    &:not(:last-of-type) {
      margin-bottom: 1em !important;
    }
  }

  .notable-alumni {
    .image_with_text {
      display: flex;
      align-items: flex-start;
      width: 100%;

      > h5 {
        display: none;
      }

      img {
        margin-right: 2em;
        width: 33vw;
        height: 33vw;
        object-fit: cover;
      }
    }

    .image_with_text__content,
    .alumni_text__content {
      display: block;
    }
  }
}

@media only screen and (max-width: 1060px) and (min-width: 1000px) {
  .notable-alumni-inner .section_inner {
    width: 768px !important;
  }
}

@include breakpoint($mobile-break) {
  .notable-alumni {
    .image_with_text {
      flex-direction: column;

      img {
        margin-right: 0;
        width: 100%;
        height: 390px;
      }
    }
    .alumni_text {
      width: 100%;
    }
  }
}

@include breakpoint(480px) {
  .notable-alumni .image_with_text img {
    height: 270px;
  }
}
