.overflow {
  &--x {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 3rem;
      transition: $transition;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
    }

    &::before {
      left: -5rem;
      background: linear-gradient(
        90deg,
        rgba($white, 1) 0%,
        rgba($white, 0) 100%
      );
    }

    &::after {
      right: -5rem;
      background: linear-gradient(
        270deg,
        rgba($white, 1) 0%,
        rgba($white, 0) 100%
      );
    }

    &.overflow--left {
      &::before {
        left: -1px;
        opacity: 1;
      }
    }

    &.overflow--right {
      &::after {
        right: -1px;
        opacity: 1;
      }
    }
  }

  // &--y {
  //   &::before,
  //   &::after {
  //     content: '';
  //     position: absolute;
  //     left: 0;
  //     height: 3rem;
  //     width: calc(100% - 5px); // space for scrollbar
  //     transition: $transition;
  //     opacity: 0;
  //     z-index: 1;
  //     pointer-events: none;
  //   }

  //   &::before {
  //     top: -5rem;
  //     background: linear-gradient(
  //       180deg,
  //       rgba($black, 1) 0%,
  //       rgba($black, 0) 100%
  //     );
  //   }

  //   &::after {
  //     bottom: -5rem;
  //     background: linear-gradient(
  //       0deg,
  //       rgba($black, 1) 0%,
  //       rgba($black, 0) 100%
  //     );
  //   }

  //   &.overflow--top {
  //     &::before {
  //       top: -1px;
  //       opacity: 1;
  //     }
  //   }

  //   &.overflow--bottom {
  //     &::after {
  //       bottom: -1px;
  //       opacity: 1;
  //     }
  //   }
  // }
}

.overflow-wrapper {
  overflow: hidden;
  position: relative;
  height: auto;
  width: auto;
}

.overflow-ready {
  &--x {
    overflow-x: auto;
  }
  &--y {
    overflow-y: auto;
  }
}
