/******************************************************************

Site Name: Orientale

Stylesheet: Row & columns

******************************************************************/
.lb-row {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  .lb-row-inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &.top {
    @include home-padding-top($col-vw);
  }

  &.bottom {
    @include home-padding-bottom($col-vw);
  }

  &.top-half {
    @include home-padding-top($col-vw / 2);
  }

  &.bottom-half {
    @include home-padding-bottom($col-vw / 2);
  }

  @include gutters;
}

.lb-col {
  box-sizing: border-box;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  z-index: 11;

  .lb-col-inner {
    box-sizing: border-box;
    position: relative;
    z-index: 15;
    width: 100%;
  }

  &[class*="col-"] {
    float: left;

    @supports (display: flex) {
      float: none;
    }

    @include breakpoint($tablet-break) {
      width: 100% !important;
    }
  }

  $grid-columns: 12;

  @for $i from 1 through $grid-columns {
    &.col-#{$i} {
      width: calc(#{$col} * #{$i});
    }
  }
}

.boxed div.section .section_inner,
.carousel-inner .slider_content_outer,
.container_inner,
.container_inner nav.content_menu,
.full_width .parallax_content,
.steps_holder_inner,
div.grid_section .section_inner,
nav.content_menu ul {
  @include breakpoint(600px) {
    width: calc(#{$col-vw * 10} + 30px); // 30px paddings of vc_column-inner

    .vc_column-inner[class*="vc_custom"] {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }

  @include breakpoint(350px) {
    width: calc(#{$col-vw * 10} + 60px);
  }
}
