.q_team_name {
  color: $header-gray;
  transition: $transition;
  font-weight: 700 !important;
  margin-bottom: 0.5rem;
  @include font-size(18px, 18px, 16px, 16px);
  letter-spacing: normal;
}

.q_team_title_holder {
  strong {
    font-size: 1rem;
    font-weight: 400 !important;
  }

  em {
    font-size: 0.8rem;
    line-height: 1.6;
    display: block;
    margin-top: 0.25rem;
  }
}

.featured-section {
  .q_elements_holder.two_columns {
    .q_elements_item {
      vertical-align: middle !important;

      @include breakpoint(1260px) {
        vertical-align: top !important;
      }
    }
    .q_elements_item_content {
      @include breakpoint(min-width 1261px) {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
    .q_team_inner {
      display: flex;
      align-items: center;
      padding: 6px;

      @include breakpoint(1260px) {
        flex-direction: column;
        padding: 0;
      }
    }
    .q_team_image {
      width: 160px;
      min-width: 160px;
      height: 160px;
      border: 0;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
      margin-right: 1rem;

      @include breakpoint($laptop-break) {
        width: 120px;
        min-width: 120px;
        height: 120px;
      }

      @include breakpoint(1260px) {
        margin-right: 0;
      }

      img {
        width: 100% !important;
        height: 100%;
        object-fit: cover;
      }
    }
    // .q_team_text {
    //   @include breakpoint(min-width 1261px) {
    //     padding-right: 0 !important;
    //   }
    // }
    .q_team_title_holder {
      text-align: left;

      @include breakpoint(1260px) {
        text-align: center;
      }
    }
  }
}

@include breakpoint(768px) {
  .q_elements_holder.two_columns .q_elements_item {
    width: 50%;

    .q_elements_item_content {
      padding: 0;
    }
  }

  .projects_holder article .portfolio_description,
  .q_team .q_team_text {
    padding: 16px 10px;
  }
}

@include breakpoint(600px) {
  .q_elements_holder.two_columns .q_elements_item {
    width: 50%;
  }
}

@include breakpoint(480px) {
  .q_elements_holder.two_columns {
    margin: 0 -5px;
    width: calc(100% + 10px);

    .q_elements_item {
      width: 50%;

      .q_elements_item_content {
        padding: 0 5px !important;
      }
    }
  }
}
