/******************************************************************

Site Name: Orientale

Stylesheet: Global Header

******************************************************************/
// // This is the base font size that all typographic elements should be scaled to.
html {
  font-size: 16px;

  @include breakpoint($tablet-break) {
    font-size: 14px;
  }
}

body {
  font: $body-font;
  font-size: 100%;
  color: $color-p;
  color-adjust: economy;
  -webkit-print-color-adjust: economy;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// /*********************
// LINK STYLES
// ********************
// a,
// a:visited {
//     color: $color-active;
//     transition: $transition;
//     /* on hover
//     &:focus,
//     &:hover {
//         color: $color-hover;
//     }
//     // hide outline for mouse users but preserves it for keyboard users.
//     &:focus:not(:focus-visible) {
//         outline: none;
//     }
//     /* on click
//     &:active {}
//     /* mobile tap color
//     &:link {
//         /*
//         this highlights links on iPhones/iPads.
//         so it basically works like the :hover selector
//         for mobile devices.
//
//         -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
//     }
// }
/*********************
WP STANDARD POST IMAGE & ALIGNMENTS
*********************/
button {
  border: 0;
  background: none;
  font-family: $secondary;
  font-size: 1rem;
}

.alignleft {
  float: left;
  padding: 10px 10px 10px 0px;
  max-width: 100%;
  height: auto;

  @include breakpoint($mobile-break) {
    padding-right: 0;
  }
}

.alignright {
  float: right;
  padding: 10px 0 10px 10px;
  max-width: 100%;

  @include breakpoint($mobile-break) {
    padding-left: 0;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

// Setting universal font styles
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  text-rendering: optimizelegibility;

  &.bottom {
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
  }
}

h1,
.h1 {
  font: $h1;

  @include breakpoint($mobile-break) {
    font-size: 28px !important;
  }
}

h2,
.h2 {
  font: $h2;
  letter-spacing: 0px !important;

  @include breakpoint($mobile-break) {
    font-size: 28px !important;
  }
}

h3,
.h3 {
  font: $h3;
  letter-spacing: 0px !important;
}

h4,
.h4 {
  font: $h4;

  @include breakpoint($laptop-break) {
    font-size: 18px !important;
  }

  @include breakpoint($mobile-break) {
    font-size: 16px !important;
  }
}

h5,
.h5 {
  font: $h5;
}

h6,
.h6 {
  font: $h6;
}

p {
  font: $body-font;
  // -ms-word-wrap: break-word;
  // word-break: break-word;
  // word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  // -webkit-hyphens: auto;
  // -moz-hyphens: auto;
  // hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  // enabling fancy ligatures when available
  //   -webkit-font-feature-settings: 'liga', 'dlig';
  //    -moz-font-feature-settings: 'liga=1, dlig=1';
  //       -ms-font-feature-settings: 'liga', 'dlig';
  //        -o-font-feature-settings: 'liga', 'dlig';
  //           font-feature-settings: 'kern' 1, 'dlig' 1;
}

::selection {
  background: $color2;
  color: $white;
}

.lb-dropcaps p:first-child:first-letter {
  float: left;
  font-size: 3.3em;
  line-height: 0.9;
  font-family: "Almendra", serif;
  margin-top: 0.07em;
  margin-right: 0.1em;
  color: $color1;

  @include breakpoint($tablet-break) {
    font-size: 3.5em;
  }
}
