.q_accordion_holder.accordion {
    .ui-accordion-header {
        color: $color1;

        &:hover {
            color: $color2 !important;
            .accordion_mark.right_mark {
                &::before,
                &::after {
                    background: $color2;
                }
            }

        }

        .tab-title {
            font-family: $secondary;
            letter-spacing: 0;
            padding-left: 0 !important;
            font-size: 18px;
            font-weight: 600;

            @include breakpoint($laptop-break) {
                font-size: 16px;
            }
        }
        .accordion_mark {
            &.left_mark {
                display: none;
            }
            &.right_mark {
                display: block !important;
                border: none;
                right: 0;
                bottom: 0;
                top: auto;

                &:before, &:after {
                    content: "";
                    width: 0.5em;
                    height: 2px;
                    background: $color1;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    transition: 0.25s ease-in-out;
                }

                &:after {
                    transform: translateY(-50%) rotate(90deg);
                }

                .accordion_mark_icon {
                    display: none;
                }
            }
        }

        &.ui-state-active {
            .accordion_mark {
                &.right_mark {
                    &:after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }
        }
    }

    div.accordion_content {
        padding-left: 0 !important;
    }
}

// Tabs

.q_tabs {
    &.horizontal {
        .tabs-nav {
            margin: 0 -30px;

            @include breakpoint($laptop-break) {
                margin: 0 -20px;
            }

            @include breakpoint($mobile-break) {
                margin: -5px -15px;
            }

            li {
                padding: 0 30px;

                @include breakpoint($laptop-break) {
                    padding: 0 20px;
                }

                @include breakpoint($mobile-break) {
                    padding: 0 15px;
                    margin: 5px 0;
                }

                &:not(:last-child) {
                    border-right: 1px solid $color2;
                }

                a {
                    display: inline;
                    box-shadow: none !important;
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    font-size: 21px;
                    opacity: .5;
                    color: $color1;
                    transition: $transition;
                    border-right: 0 !important;
                    margin-bottom: 0 !important;
                    line-height: 40px !important;
                    letter-spacing: 0;

                    @include breakpoint($laptop-break) {
                        font-size: 18px;
                        line-height: 28px !important;
                    }

                    @include breakpoint($mobile-break) { 
                        font-size: 16px;
                        line-height: 20px !important;
                    }

                    &:hover,
                    &:focus {
                        opacity: .75;
                        color: $color1 !important;
                    }
                }

                &.active a {
                    opacity: 1;
                    color: $color1;
                }
            }
        }
    }
}