/*!
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Longbeard
Author URI: https://www.longbeard.com
Version: 1.0.0
Template: bridge
*/
/******************************************************************

Site Name: 
Author: Longbeard

Stylesheet: Main Stylesheet
******************************************************************/
/*********************
IMPORT ELEMENTS
*********************/
// @import "utilities/variables";
// @import "utilities/mixins";
// @import "elements/typography";

@import "utilities/vendors/slick";
@import "utilities/vendors/lity";

// .page-template-orientale-v2,
// .page-template-orientale-it-v2,
// .page,
// .category {
// }
// Sass variables
@import "utilities/variables";
// typography
@import "utilities/type-stack";
// import mixin
@import "utilities/mixins";
/*********************
  IMPORT PAGES
  *********************/
// styles in base.scss
@import "pages/base";

/*********************
  PRINT STYLESHEET
  *********************/
@media print {
  // styles in print.scss
  @import "utilities/print";
}

@import "elements/header";
@import "elements/ui-elements";
@import "elements/overflow";

.page-id-97,
.page-id-806 {
  @import "elements/notable-alumni";
}

.page-template-orientale-v2,
.page-template-orientale-it-v2 {
  @import "pages/homepage";
}

.page-id-506, // About - faculty
.page-id-1839 // About - office staff
{
  @import "pages/about";
}

.page-id-506, // About - faculty
.page-id-61,
.page-id-1839 {
  @import "elements/team-grid";
}

.page-id-1624 {
  @import "pages/alumni";
}

.page-template-donate {
  @import "pages/donate";
}

.page-id-4269,
.page-id-2335,
.date,
.archive.category,
.page-id-5263,
.page-id-796 {
  @import "pages/news";
}

.page-id-93 {
  @import "pages/contact";
}

.parent-pageid-860 {
  @import "pages/media-kit/media-kit";
}

.single,
.archive,
.blog {
  @import "pages/post";
}

.product-template-default,
.page-id-73 {
  @import "pages/publications";
}

.portfolio_page-template-default {
  @import "pages/post";
}

.post-type-archive-tribe_events {
  @import "pages/events";
}

.search {
  @import "pages/search";
}

.page-template-devotional-images {
  @import "pages/devotional-images";
}

@import "elements/footer";
